<div class="well" style="margin:1em 2em">
<p>This Notebook demonstrates results reported in the DSH article, <a href="https://doi.org/10.1093/llc/fqac006">"Towards a linked open data resource for direct speech acts in Greek and Latin epic"</a></p>
</div>


# Heroes and their moms

Let's say we're young scholars interested in Telemachus' speech to Penelope.
 - How often does he speak to her?
 - What kind of language does he use?
 - How does the narrator refer to these speeches?
 
We'll start by showing how the DICES database and Python library can be used to retrieve and manipulate the speeches in question. Then we'll expand our perspective to show how DICES enables research on a "distant reading" scale, taking in all heroes and their mothers. Finally, we'll check the accuracy of the automated methods by comparing against a benchmark of hand-curated mother-child speech data.

## Preliminaries

In [1]:
import pandas as pd
from collections import Counter

### Install the client library

If you don't have the DICES client library, you can install it with **pip**:
```
pip install git+https://github.com/cwf2/dices-client.git
```

### The DICES API

When you instantiate the API, you can optionally provide endpoints for the DICES database and for a CTS server hosting the texts.

- The default endpoint for DICES is our Uni-Rostock server.

- The default for texts is the [Perseids CTS server](https://cts.perseids.org/).

Finally, just for Jupyter, I'm passing an optional progress bar generator, and sending log messages to a local file.

In [2]:
from dicesapi import DicesAPI
from dicesapi.jupyter import NotebookPBar

api = DicesAPI(progress_class=NotebookPBar, logfile='dices.log')

### CLTK

#### Set up tokenizers, lemmatizers

I like to have one convenience function that I can call on every speech, regardless of language. That means I have to set up language-specific pipelines first.

In [3]:
from cltk.nlp import NLP

cltk_nlp = {
    'greek': NLP('grc', suppress_banner=True),
    'latin': NLP('lat', suppress_banner=True),    
}

In [4]:
# trim the pipelines to just normalizing and tokenization for speed
cltk_nlp['greek'].pipeline.processes = cltk_nlp['greek'].pipeline.processes[:2]
cltk_nlp['latin'].pipeline.processes = cltk_nlp['latin'].pipeline.processes[:2]

### WikiData

To figure out how characters are related, which isn't in the DICES metadata, I'm going to use [WikiData](https://www.wikidata.org), via the *qwikidata* package.

In [5]:
from qwikidata.linked_data_interface import get_entity_dict_from_api
from qwikidata.entity import WikidataItem, WikidataProperty

##  Part 1

Let's start by building a lexicon for all the words Telemachus speaks to Penelope.

### Identify and download the speeches

Using the hand-rolled DICES API code, we can search speeches using keywords. For now, JSON results from the API are paged, so if your search has a lot of results, you may have to wait for several pages to download. I've added a progress bar widget because I get impatient.

Note that I can specify both the speaker and the addressee.

In [6]:
speeches = api.getSpeeches(spkr_name='Telemachus', addr_name='Penelope')

What did we get?

In [7]:
for s in speeches:
    print(s)

<Speech 713: Odyssey 1.346-1.359>
<Speech 1103: Odyssey 17.46-17.56>
<Speech 1107: Odyssey 17.108-17.149>
<Speech 1170: Odyssey 18.227-18.242>
<Speech 1270: Odyssey 21.344-21.353>
<Speech 1323: Odyssey 23.97-23.103>

The feature that allows us to connect these to external digital libraries is the passage-specific CTS URN:

In [8]:
for s in speeches:
    print(s.urn)

urn:cts:greekLit:tlg0012.tlg002.perseus-grc2:1.346-1.359
urn:cts:greekLit:tlg0012.tlg002.perseus-grc2:17.46-17.56
urn:cts:greekLit:tlg0012.tlg002.perseus-grc2:17.108-17.149
urn:cts:greekLit:tlg0012.tlg002.perseus-grc2:18.227-18.242
urn:cts:greekLit:tlg0012.tlg002.perseus-grc2:21.344-21.353
urn:cts:greekLit:tlg0012.tlg002.perseus-grc2:23.97-23.103

### Retrieve the passages from a remote library

We have the metadata for each speech; now we need the text. The DICES library uses [MyCapytain](https://mycapytain.readthedocs.io) under the hood to retrieve the passages from a remote CTS server.

In [9]:
for s in speeches:
    cts_passage = s.getCTS()
    s.text = cts_passage.text
    
    print(f'{s.author.name} {s.work.title} {s.l_range}')
    print(s.text)
    print()

Homer Odyssey 1.346-1.359
μῆτερ ἐμή, τί τʼ ἄρα φθονέεις ἐρίηρον ἀοιδὸν τέρπειν ὅππῃ οἱ νόος ὄρνυται; οὔ νύ τʼ ἀοιδοὶ αἴτιοι, ἀλλά ποθι Ζεὺς αἴτιος, ὅς τε δίδωσιν ἀνδράσιν ἀλφηστῇσιν, ὅπως ἐθέλῃσιν, ἑκάστῳ. τούτῳ δʼ οὐ νέμεσις Δαναῶν κακὸν οἶτον ἀείδειν· τὴν γὰρ ἀοιδὴν μᾶλλον ἐπικλείουσʼ ἄνθρωποι, ἥ τις ἀκουόντεσσι νεωτάτη ἀμφιπέληται. σοὶ δʼ ἐπιτολμάτω κραδίη καὶ θυμὸς ἀκούειν· οὐ γὰρ Ὀδυσσεὺς οἶος ἀπώλεσε νόστιμον ἦμαρ ἐν Τροίῃ, πολλοὶ δὲ καὶ ἄλλοι φῶτες ὄλοντο. ἀλλʼ εἰς οἶκον ἰοῦσα τὰ σʼ αὐτῆς ἔργα κόμιζε, ἱστόν τʼ ἠλακάτην τε, καὶ ἀμφιπόλοισι κέλευε ἔργον ἐποίχεσθαι· μῦθος δʼ ἄνδρεσσι μελήσει πᾶσι, μάλιστα δʼ ἐμοί· τοῦ γὰρ κράτος ἔστʼ ἐνὶ οἴκῳ.

Homer Odyssey 17.46-17.56
μῆτερ ἐμή, μή μοι γόον ὄρνυθι μηδέ μοι ἦτορ ἐν στήθεσσιν ὄρινε φυγόντι περ αἰπὺν ὄλεθρον· ἀλλʼ ὑδρηναμένη, καθαρὰ χροῒ εἵμαθʼ ἑλοῦσα, εἰς ὑπερῷʼ ἀναβᾶσα σὺν ἀμφιπόλοισι γυναιξὶν εὔχεο πᾶσι θεοῖσι τεληέσσας ἑκατόμβας ῥέξειν, αἴ κέ ποθι Ζεὺς ἄντιτα ἔργα τελέσσῃ. αὐτὰρ ἐγὼν ἀγορὴν ἐσελεύσομαι, ὄφρα καλέσσω ξεῖνον, ὅτις μοι κεῖθεν ἅμʼ ἕσπετο δεῦρο κιόντι. τὸν μὲν ἐγὼ προὔπεμψα σὺν ἀντιθέοις ἑτάροισι, Πείραιον δέ μιν ἠνώγεα προτὶ οἶκον ἄγοντα ἐνδυκέως φιλέειν καὶ τιέμεν, εἰς ὅ κεν ἔλθω.

Homer Odyssey 17.108-17.149
τοιγὰρ ἐγώ τοι, μῆτερ, ἀληθείην καταλέξω. ᾠχόμεθʼ ἔς τε Πύλον καὶ Νέστορα, ποιμένα λαῶν· δεξάμενος δέ με κεῖνος ἐν ὑψηλοῖσι δόμοισιν ἐνδυκέως ἐφίλει, ὡς εἴ τε πατὴρ ἑὸν υἱὸν ἐλθόντα χρόνιον νέον ἄλλοθεν· ὣς ἐμὲ κεῖνος ἐνδυκέως ἐκόμιζε σὺν υἱάσι κυδαλίμοισιν. αὐτὰρ Ὀδυσσῆος ταλασίφρονος οὔ ποτʼ ἔφασκεν, ζωοῦ οὐδὲ θανόντος, ἐπιχθονίων τευ ἀκοῦσαι· ἀλλά μʼ ἐς Ἀτρεΐδην, δουρικλειτὸν Μενέλαον, ἵπποισι προὔπεμψε καὶ ἅρμασι κολλητοῖσιν. ἔνθʼ ἴδον Ἀργείην Ἑλένην, ἧς εἵνεκα πολλὰ Ἀργεῖοι Τρῶές τε θεῶν ἰότητι μόγησαν. εἴρετο δʼ αὐτίκʼ ἔπειτα βοὴν ἀγαθὸς Μενέλαος ὅττευ χρηΐζων ἱκόμην Λακεδαίμονα δῖαν· αὐτὰρ ἐγὼ τῷ πᾶσαν ἀληθείην κατέλεξα· καὶ τότε δή με ἔπεσσιν ἀμειβόμενος προσέειπεν· ὢ πόποι, ἦ μάλα δὴ κρατερόφρονος ἀνδρὸς ἐν
 εὐνῇ ἤθελον εὐνηθῆναι, ἀνάλκιδες αὐτοὶ ἐόντες. ὡς δʼ ὁπότʼ ἐν ξυλόχῳ ἔλαφος κρατεροῖο λέοντος νεβροὺς κοιμήσασα νεηγενέας γαλαθηνοὺς κνημοὺς ἐξερέῃσι καὶ ἄγκεα ποιήεντα βοσκομένη, ὁ δʼ ἔπειτα ἑὴν εἰσήλυθεν εὐνήν, ἀμφοτέροισι δὲ τοῖσιν ἀεικέα πότμον ἐφῆκεν, ὣς Ὀδυσεὺς κείνοισιν ἀεικέα πότμον ἐφήσει. αἲ γάρ, Ζεῦ τε πάτερ καὶ Ἀθηναίη καὶ Ἄπολλον, τοῖος ἐὼν οἷός ποτʼ ἐϋκτιμένῃ ἐνὶ Λέσβῳ ἐξ ἔριδος Φιλομηλεΐδῃ ἐπάλαισεν ἀναστάς, κὰδ δʼ ἔβαλε κρατερῶς, κεχάροντο δὲ πάντες Ἀχαιοί, τοῖος ἐὼν μνηστῆρσιν ὁμιλήσειεν Ὀδυσσεύς· πάντες κʼ ὠκύμοροί τε γενοίατο πικρόγαμοί τε. ταῦτα δʼ ἅ μʼ εἰρωτᾷς καὶ λίσσεαι, οὐκ ἂν ἐγώ γε ἄλλα παρὲξ εἴποιμι παρακλιδὸν οὐδʼ ἀπατήσω, ἀλλὰ τὰ μέν μοι ἔειπε γέρων ἅλιος νημερτής, τῶν οὐδέν τοι ἐγὼ κρύψω ἔπος οὐδʼ ἐπικεύσω. φῆ μιν ὅ γʼ ἐν νήσῳ ἰδέειν κρατέρʼ ἄλγεʼ ἔχοντα, νύμφης ἐν μεγάροισι Καλυψοῦς, ἥ μιν ἀνάγκῃ ἴσχει· ὁ δʼ οὐ δύναται ἣν πατρίδα γαῖαν ἱκέσθαι. οὐ γάρ οἱ πάρα νῆες ἐπήρετμοι καὶ ἑταῖροι, οἵ κέν μιν πέμποιεν ἐπʼ εὐρέα νῶτα θαλάσσης ὣς ἔφατʼ Ἀτρεΐδης, δουρικλειτὸς Μενέλαος. ταῦτα τελευτήσας νεόμην· ἔδοσαν δέ μοι οὖρον ἀθάνατοι, τοί μʼ ὦκα φίλην ἐς πατρίδʼ ἔπεμψαν.

Homer Odyssey 18.227-18.242
μῆτερ ἐμή, τὸ μὲν οὔ σε νεμεσσῶμαι κεχολῶσθαι· αὐτὰρ ἐγὼ θυμῷ νοέω καὶ οἶδα ἕκαστα, ἐσθλά τε καὶ τὰ χέρεια· πάρος δʼ ἔτι νήπιος ἦα. ἀλλά τοι οὐ δύναμαι πεπνυμένα πάντα νοῆσαι· ἐκ γάρ με πλήσσουσι παρήμενοι ἄλλοθεν ἄλλος οἵδε κακὰ φρονέοντες, ἐμοὶ δʼ οὐκ εἰσὶν ἀρωγοί. οὐ μέν τοι ξείνου γε καὶ Ἴρου μῶλος ἐτύχθη μνηστήρων ἰότητι, βίῃ δʼ ὅ γε φέρτερος ἦεν. αἲ γάρ, Ζεῦ τε πάτερ καὶ Ἀθηναίη καὶ Ἄπολλον, οὕτω νῦν μνηστῆρες ἐν ἡμετέροισι δόμοισι νεύοιεν κεφαλὰς δεδμημένοι, οἱ μὲν ἐν αὐλῇ, οἱ δʼ ἔντοσθε δόμοιο, λελῦτο δὲ γυῖα ἑκάστου, ὡς νῦν Ἶρος κεῖνος ἐπʼ αὐλείῃσι θύρῃσιν ἧσται νευστάζων κεφαλῇ, μεθύοντι ἐοικώς, οὐδʼ ὀρθὸς στῆναι δύναται ποσὶν οὐδὲ νέεσθαι οἴκαδʼ, ὅπη οἱ νόστος, ἐπεὶ φίλα γυῖα λέλυνται.

Homer Odyssey 21.344-21.353
μῆτερ ἐμή, τόξον μὲν Ἀχαιῶν οὔ τις ἐμεῖο κρείσσων, ᾧ κʼ ἐθέλω, δόμεναί τε καὶ ἀρνήσασθαι, οὔθʼ ὅσσοι κραναὴν Ἰθάκην κάτα κοιρανέουσιν, οὔθʼ ὅσσοι νήσοισι πρὸς Ἤλιδος ἱπποβότοιο· τῶν οὔ τίς μʼ ἀέκοντα βιήσεται, αἴ κʼ ἐθέλωμι καὶ καθάπαξ ξείνῳ δόμεναι τάδε τόξα φέρεσθαι. ἀλλʼ εἰς οἶκον ἰοῦσα τὰ σʼ αὐτῆς ἔργα κόμιζε, ἱστόν τʼ ἠλακάτην τε, καὶ ἀμφιπόλοισι κέλευε ἔργον ἐποίχεσθαι· τόξον δʼ ἄνδρεσσι μελήσει πᾶσι, μάλιστα δʼ ἐμοί· τοῦ γὰρ κράτος ἔστʼ ἐνὶ οἴκῳ.

Homer Odyssey 23.97-23.103
μῆτερ ἐμή, δύσμητερ, ἀπηνέα θυμὸν ἔχουσα, τίφθʼ οὕτω πατρὸς νοσφίζεαι, οὐδὲ παρʼ αὐτὸν ἑζομένη μύθοισιν ἀνείρεαι οὐδὲ μεταλλᾷς; οὐ μέν κʼ ἄλλη γʼ ὧδε γυνὴ τετληότι θυμῷ ἀνδρὸς ἀφεσταίη, ὅς οἱ κακὰ πολλὰ μογήσας ἔλθοι ἐεικοστῷ ἔτεϊ ἐς πατρίδα γαῖαν· σοὶ δʼ αἰεὶ κραδίη στερεωτέρη ἐστὶ λίθοιο.

### Use CLTK to parse the text

Running the CLTK NLP pipeline on the text of a speech will return a specialized cltk `Doc` object containing the bundled results of all processes in the pipeline. First, we’ll run the appropriate language-specific pipeline on each speech and save the resulting object as a new attribute of the speech.

In [10]:
pbar = NotebookPBar(max=len(speeches))

for s in speeches:
    s.cltk_doc = cltk_nlp[s.lang](s.text)
    pbar.update()

HBox(children=(IntProgress(value=0, bar_style='info', max=6), Label(value='0/6')))

CLTK's pipeline gives us lots of information for each speech, including token parsing, and part-of-speech tagging. Let's look at some of the information we get, word-by-word, for the first speech only:

In [11]:
pd.DataFrame(w for w in speeches[0].cltk_doc).dropna(axis=1, how='all')

,index_token,index_sentence,string,pos,lemma,xpos,upos,dependency_relation,governor,features,category
0,0,0,μῆτερ,8,μήτηρ,Nb,NOUN,vocative,5,"[(nominative, accusative, ergative, absolutive...","[(pos, neg), (pos, neg), (pos, neg)]"
1,1,0,"ἐμή,",12,ἐγώ,Pp,PRON,iobj,5,"[(nominative, accusative, ergative, absolutive...","[(pos, neg), (pos, neg), (pos, neg)]"
2,2,0,τί,12,τίς,Pi,PRON,obl,5,"[(nominative, accusative, ergative, absolutive...","[(pos, neg), (pos, neg), (pos, neg)]"
3,3,0,τʼ,3,τʼ,Df,ADV,discourse,5,[],"[(pos, neg), (pos, neg), (pos, neg)]"
4,4,0,ἄρα,3,ἆρα,Df,ADV,discourse,5,[],"[(pos, neg), (pos, neg), (pos, neg)]"
...,...,...,...,...,...,...,...,...,...,...,...
98,1,7,γὰρ,3,γάρ,Df,ADV,discourse,5,[],"[(pos, neg), (pos, neg), (pos, neg)]"
99,2,7,κράτος,8,κράτος,Nb,NOUN,nsubj,5,"[(nominative, accusative, ergative, absolutive...","[(pos, neg), (pos, neg), (pos, neg)]"
100,3,7,ἔστʼ,4,εἰμί,V-,AUX,cop,5,"[(admirative, conditional, desiderative, imper...","[(pos, neg), (pos, neg), (pos, neg)]"
101,4,7,ἐνὶ,2,εἷς,R-,ADP,case,5,[],"[(pos, neg), (pos, neg), (pos, neg)]"
102,5,7,οἴκῳ.,8,οἶκος,Nb,NOUN,root,-1,"[(nominative, accusative, ergative, absolutive...","[(pos, neg), (pos, neg), (pos, neg)]"

Now let’s go through again and count the lemmata. We’ll create a lemma counter to hold the tallies.

In [12]:
lems = Counter([w.lemma for s in speeches for w in s.cltk_doc])

Convert the counter to a Pandas data frame for tidier presentation.

In [13]:
results = pd.DataFrame(lems.most_common(20), columns=['lemma', 'count'])
results

    lemma  count
0     ἐγώ     23
1     καί     20
2       ὁ     19
3      δʼ     17
4      οὐ     14
5      ὅς     13
6      τε      9
7      σύ      9
8      ἐν      9
9    εἰμί      9
10    εἰς      8
11     δέ      7
12    μέν      7
13  μήτηρ      6
14    γάρ      6
15  αὐτός      6
16    πᾶς      6
17     ὡς      6
18    τὶς      5
19  οἶκος      5

A similar table, but for part of speech tags, courtesy of CLTK's NLP pipeline:

In [14]:
pos = Counter([w.upos for s in speeches for w in s.cltk_doc])
pd.DataFrame(pos.most_common(10), columns=['pos', 'count'])

     pos  count
0   NOUN    139
1   VERB    136
2    ADV    106
3   PRON     91
4    ADJ     90
5  CCONJ     51
6  PROPN     29
7    ADP     29
8    DET     22
9  SCONJ      9

## Part 2

Now let's think more broadly. How typical is this kind of speech? We can use external linked data to find other examples of mother-son conversations in the corpus.

### Some custom code to query WikiData

This lets us ask whether a given addressee belongs to the set of people having a certain relationship to a given speaker. It takes a while to download the WikiData entities, and I had to run this a number of times, so I cached WD data in the respective character objects once it's downloaded.

In [15]:
def getWD(wd, cache=None):
    '''Return WikiData entity for a given ID'''

    if wd is not None and wd != '':
        if cache is None:
            return WikidataItem(get_entity_dict_from_api(wd))
        else:
            if wd not in cache:
                cache[wd] = WikidataItem(get_entity_dict_from_api(wd))
            return cache[wd]


def checkWDRelation(wd1, wd2, relation, cache=None):
    key = (wd1, wd2, relation)
    if cache is not None and key in cache:
        return cache[key]

    res = False

    wd_ent = getWD(wd1, cache=cache)

    claim_group = wd_ent.get_truthy_claim_group(relation)

    for claim in claim_group:
        if claim.mainsnak.datavalue is not None:
            if claim.mainsnak.datavalue.value['id'] == wd2:
                res = True
    
    if cache is not None:
        cache[key] = res
    return res

For example, the relation "mother of" has the WikiData ID `'P25'`. Here's how we ask if a given addressee is the mother of a given speaker:

In [16]:
speaker = api.getCharacters(name='Telemachus')[0]
addressee = api.getCharacters(name='Penelope')[0]

print(f'Is {addressee.name} the mother of {speaker.name}?')
print(checkWDRelation(speaker.wd, addressee.wd, 'P25'))

Is Penelope the mother of Telemachus?
True

I also added a separate cache just for the boolean result of checkWDRelation, to save a little more time.

In [17]:
wd_cache = {}

### Using WikiData to filter the speeches

The DICES dataset includes WikiData ids for most of the characters (not all). The DICES API doesn't let us query WikiData itself, though. For now, the easiest thing is just to download all the speeches and character IDs, and then cross reference them against WikiData using its own API.

In [18]:
# download all the speeches: takes a minute
speeches = (
    api.getSpeeches(work_title='Iliad', progress=True) +
    api.getSpeeches(work_title='Odyssey', progress=True) +    
    api.getSpeeches(author_name='Apollonius', progress=True) +
    api.getSpeeches(author_name='Virgil', progress=True))

speeches.sort()

HBox(children=(IntProgress(value=0, bar_style='info', max=698), Label(value='0/698')))

HBox(children=(IntProgress(value=0, bar_style='info', max=673), Label(value='0/673')))

HBox(children=(IntProgress(value=0, bar_style='info', max=143), Label(value='0/143')))

HBox(children=(IntProgress(value=0, bar_style='info', max=341), Label(value='0/341')))

**Check each speaker-addressee pair against WikiData**

What we actually do here is download the WikiData entity for each speaker, if we don't already have it cached. Then we ask the WD entity for its mom(s), and check the WD ID of the addressee against the results.

In [19]:
pbar = NotebookPBar(max=len(speeches))
for s in speeches:
    for inst_list in s.spkr, s.addr:
        for inst in inst_list:
            getWD(inst.wd, cache=wd_cache)
    pbar.update()

HBox(children=(IntProgress(value=0, bar_style='info', max=1855), Label(value='0/1855')))

In [20]:
# create a dataframe with one row per speech
df = pd.DataFrame(dict(
    id = s.id,
    work = s.work.title,
    l_first = s.l_fi,
    l_last = s.l_la,
    spkr = [inst.name for inst in s.spkr],
    spkr_wd = [inst.wd for inst in s.spkr],
    addr = [inst.name for inst in s.addr],
    addr_wd = [inst.wd for inst in s.addr],
) for s in speeches)

# separate multiple speakers/addressees to give each their own row
df = df.explode(['spkr', 'spkr_wd'])
df = df.explode(['addr', 'addr_wd'])

# create new columns to track motherhood
df[['sp_is_mom','ad_is_mom']] = None

# identify rows where speaker and addressee both have WikiData IDs
mask = df['spkr_wd'].notnull() & df['addr_wd'].notnull()

# fill in motherhood columns
df.loc[mask,'sp_is_mom'] = [checkWDRelation(row.addr_wd, row.spkr_wd, 'P25', cache=wd_cache) 
                                for row in df.loc[mask,].itertuples()]
df.loc[mask,'ad_is_mom'] = [checkWDRelation(row.spkr_wd, row.addr_wd, 'P25', cache=wd_cache) 
                                for row in df.loc[mask,].itertuples()]

🤔 Let's take a look at the results. Here is the complete set of speeches, with the additional attribute `sp_is_mom` if the speaker is the addressee's mother, and `ad_is_mom` if the addressee is the speaker's mother.

As a quick sanity check, the first two speeches in the Argonautica, which were at the top of the list when I ran this, are between Jason and his mother, Alcimede.

In [21]:
df.loc[df.work=='Argonautica']

,id,work,l_first,l_last,spkr,spkr_wd,addr,addr_wd,sp_is_mom,ad_is_mom
0,1385,Argonautica,1.242,1.246,citizens,None,citizens,None,None,None
1,1386,Argonautica,1.251,1.259,someone,None,someone,None,None,None
2,1387,Argonautica,1.278,1.291,Alcimede,Q2718542,Jason,Q176758,True,False
3,1388,Argonautica,1.295,1.305,Jason,Q176758,Alcimede,Q2718542,False,True
4,1389,Argonautica,1.332,1.340,Jason,Q176758,Argonauts,Q165510,False,False
...,...,...,...,...,...,...,...,...,...,...
138,1523,Argonautica,4.1573,4.1600,Triton,Q148030,Argonauts,Q165510,False,False
139,1524,Argonautica,4.1597,4.1600,Jason,Q176758,Triton,Q148030,False,False
140,1525,Argonautica,4.1654,4.1658,Medea,Q174278,Argonauts,Q165510,False,False
141,1526,Argonautica,4.1741,4.1745,Calliste,None,Euphemus,Q749123,None,None
142,1527,Argonautica,4.1749,4.1754,Jason,Q176758,Euphemus,Q749123,False,False

Thanks to pandas, we can filter the data frame on the new boolean columns to show only speeches between mother and child.

In [22]:
hits = df.loc[df.sp_is_mom | df.ad_is_mom,
             ['work', 'l_first', 'l_last', 'spkr', 'addr']]
hits

             work l_first  l_last        spkr                    addr
2     Argonautica   1.278   1.291    Alcimede                   Jason
3     Argonautica   1.295   1.305       Jason                Alcimede
70    Argonautica   3.129   3.144   Aphrodite                    Eros
71    Argonautica   3.151   3.153   Aphrodite                    Eros
73    Argonautica   3.260   3.267   Chalciope  Argus (son of Phrixus)
164         Iliad   1.352   1.356    Achilles                  Thetis
165         Iliad   1.362   1.363      Thetis                Achilles
166         Iliad   1.365   1.412    Achilles                  Thetis
167         Iliad   1.414   1.427      Thetis                Achilles
178         Iliad   1.586   1.594  Hephaestus                    Hera
271         Iliad   5.373   5.374       Dione               Aphrodite
272         Iliad   5.376   5.380   Aphrodite                   Dione
273         Iliad   5.382   5.415       Dione               Aphrodite
303         Iliad   6.254   6.262      Hecuba                  Hector
304         Iliad   6.264   6.285      Hector                  Hecuba
625         Iliad   18.73   18.77      Thetis                Achilles
626         Iliad   18.79   18.93    Achilles                  Thetis
627         Iliad   18.95   18.96      Thetis                Achilles
628         Iliad   18.98  18.126    Achilles                  Thetis
629         Iliad  18.128  18.137      Thetis                Achilles
647         Iliad    19.8   19.11      Thetis                Achilles
648         Iliad   19.21   19.27    Achilles                  Thetis
649         Iliad   19.29   19.36      Thetis                Achilles
703         Iliad  21.331  21.341        Hera              Hephaestus
706         Iliad  21.379  21.380        Hera              Hephaestus
724         Iliad   22.82   22.89      Hecuba                  Hector
746         Iliad  22.431  22.436      Hecuba                  Hector
800         Iliad  24.128  24.137      Thetis                Achilles
801         Iliad  24.139  24.140    Achilles                  Thetis
838         Iliad  24.748  24.759      Hecuba                  Hector
855       Odyssey   1.346   1.359  Telemachus                Penelope
1088      Odyssey  11.155  11.162    Anticlea                Odysseus
1089      Odyssey  11.164  11.179    Odysseus                Anticlea
1090      Odyssey  11.181  11.203    Anticlea                Odysseus
1091      Odyssey  11.210  11.214    Odysseus                Anticlea
1092      Odyssey  11.216  11.224    Anticlea                Odysseus
1244      Odyssey   17.41   17.44    Penelope              Telemachus
1245      Odyssey   17.46   17.56  Telemachus                Penelope
1248      Odyssey  17.101  17.106    Penelope              Telemachus
1249      Odyssey  17.108  17.149  Telemachus                Penelope
1311      Odyssey  18.215  18.225    Penelope              Telemachus
1312      Odyssey  18.227  18.242  Telemachus                Penelope
1412      Odyssey  21.344  21.353  Telemachus                Penelope
1465      Odyssey   23.97  23.103  Telemachus                Penelope
1466      Odyssey  23.105  23.110    Penelope              Telemachus
1522       Aeneid   1.321   1.324       Venus                  Aeneas
1523       Aeneid   1.326   1.334      Aeneas                   Venus
1524       Aeneid   1.335   1.370       Venus                  Aeneas
1525       Aeneid   1.372   1.385      Aeneas                   Venus
1526       Aeneid   1.387   1.401       Venus                  Aeneas
1527       Aeneid   1.407   1.409      Aeneas                   Venus
1535       Aeneid   1.664   1.688       Venus                    Amor
1557       Aeneid   2.594   2.620       Venus                  Aeneas
1559       Aeneid   2.657   2.670      Aeneas                   Venus
1652       Aeneid   6.194   6.197      Aeneas                   Venus
1718       Aeneid   8.612   8.614       Venus                  Aeneas

Pandas also comes in handy if I wanted to export this data to Excel:

In [23]:
hits.to_csv('example.csv')

### Validation

Let's see how well the automated approach worked. We'll load up a hand-corrected list of mother-child speeches and compare.

In [24]:
bench = pd.read_csv('data/moms-bench.csv', dtype=str)
bench

      work l_first l_last              spkr                 addr
0    Iliad   1.352    356          Achilles               Thetis
1    Iliad   1.362    363            Thetis             Achilles
2    Iliad   1.365    412          Achilles               Thetis
3    Iliad   1.414    427            Thetis             Achilles
4    Iliad   1.586    594        Hephaestus                 Hera
..     ...     ...    ...               ...                  ...
56  Aeneid   6.194    197            Aeneas  two doves and Venus
57  Aeneid   8.612    614             Venus               Aeneas
58  Aeneid    9.83     92            Cybele              Jupiter
59  Aeneid    9.94    103           Jupiter               Cybele
60  Aeneid   9.481    497  Euryalus' mother             Euryalus

[61 rows x 5 columns]

Let's look at the union of `hits` and `bench` to see how we did:

In [25]:
results = hits.merge(bench, on=['work', 'l_first'], how='outer', 
                        suffixes=['_h', '_b'], indicator=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(results[['work', 'l_first', 'spkr_h', 'addr_h', 'spkr_b', 'addr_b', '_merge']])

,work,l_first,spkr_h,addr_h,spkr_b,addr_b,_merge
0,Argonautica,1.278,Alcimede,Jason,Alcimede,Jason,both
1,Argonautica,1.295,Jason,Alcimede,Jason,Alcimede,both
2,Argonautica,3.129,Aphrodite,Eros,Aphrodite,Eros,both
3,Argonautica,3.151,Aphrodite,Eros,Aphrodite,Eros,both
4,Argonautica,3.260,Chalciope,Argus (son of Phrixus),Chalciope,Argus,both
5,Iliad,1.352,Achilles,Thetis,Achilles,Thetis,both
6,Iliad,1.362,Thetis,Achilles,Thetis,Achilles,both
7,Iliad,1.365,Achilles,Thetis,Achilles,Thetis,both
8,Iliad,1.414,Thetis,Achilles,Thetis,Achilles,both
9,Iliad,1.586,Hephaestus,Hera,Hephaestus,Hera,both
10,Iliad,5.373,Dione,Aphrodite,Dione,Aphrodite,both
11,Iliad,5.376,Aphrodite,Dione,Aphrodite,Dione,both
12,Iliad,5.382,Dione,Aphrodite,Dione,Aphrodite,both
13,Iliad,6.254,Hecuba,Hector,Hecuba,Hector,both
14,Iliad,6.264,Hector,Hecuba,Hector,Hecuba,both
15,Iliad,18.73,Thetis,Achilles,Thetis,Achilles,both
16,Iliad,18.79,Achilles,Thetis,Achilles,Thetis,both
17,Iliad,18.95,Thetis,Achilles,Thetis,Achilles,both
18,Iliad,18.98,Achilles,Thetis,Achilles,Thetis,both
19,Iliad,18.128,Thetis,Achilles,Thetis,Achilles,both
20,Iliad,19.8,Thetis,Achilles,Thetis,Achilles,both
21,Iliad,19.21,Achilles,Thetis,Achilles,Thetis,both
22,Iliad,19.29,Thetis,Achilles,Thetis,Achilles,both
23,Iliad,21.331,Hera,Hephaestus,Hera,Hephaestus,both
24,Iliad,21.379,Hera,Hephaestus,Hera,Hephaestus,both
25,Iliad,22.82,Hecuba,Hector,Hecuba,Hector,both
26,Iliad,22.431,Hecuba,Hector,Hecuba,Hector,both
27,Iliad,24.128,Thetis,Achilles,Thetis,Achilles,both
28,Iliad,24.139,Achilles,Thetis,Achilles,Thetis,both
29,Iliad,24.748,Hecuba,Hector,Hecuba,Hector,both
30,Odyssey,1.346,Telemachus,Penelope,Telemachus,Penelope,both
31,Odyssey,11.155,Anticlea,Odysseus,Anticlea,Odysseus,both
32,Odyssey,11.164,Odysseus,Anticlea,Odysseus,Anticlea,both
33,Odyssey,11.181,Anticlea,Odysseus,Anticlea,Odysseus,both
34,Odyssey,11.210,Odysseus,Anticlea,Odysseus,Anticlea,both
35,Odyssey,11.216,Anticlea,Odysseus,Anticlea,Odysseus,both
36,Odyssey,17.41,Penelope,Telemachus,Penelope,Telemachus,both
37,Odyssey,17.46,Telemachus,Penelope,Telemachus,Penelope,both
38,Odyssey,17.101,Penelope,Telemachus,Penelope,Telemachus,both
39,Odyssey,17.108,Telemachus,Penelope,Telemachus,Penelope,both
40,Odyssey,18.215,Penelope,Telemachus,Penelope,Telemachus,both
41,Odyssey,18.227,Telemachus,Penelope,Telemachus,Penelope,both
42,Odyssey,21.344,Telemachus,Penelope,Telemachus,Penelope,both
43,Odyssey,23.97,Telemachus,Penelope,Telemachus,Penelope,both
44,Odyssey,23.105,Penelope,Telemachus,Penelope,Telemachus,both
45,Aeneid,1.321,Venus,Aeneas,Venus (in disguise),Aeneas and Achates,both
46,Aeneid,1.326,Aeneas,Venus,Aeneas,Venus,both
47,Aeneid,1.335,Venus,Aeneas,Venus (in disguise),Aeneas,both
48,Aeneid,1.372,Aeneas,Venus,Aeneas,Venus,both
49,Aeneid,1.387,Venus,Aeneas,Venus,Aeneas,both
50,Aeneid,1.407,Aeneas,Venus,Aeneas,Venus,both
51,Aeneid,1.664,Venus,Amor,Venus,Cupido,both
52,Aeneid,2.594,Venus,Aeneas,Venus,Aeneas,both
53,Aeneid,2.657,Aeneas,Venus,Aeneas,Anchises and Venus and Trojans,both
54,Aeneid,6.194,Aeneas,Venus,Aeneas,two doves and Venus,both
55,Aeneid,8.612,Venus,Aeneas,Venus,Aeneas,both
56,Iliad,15.104,NaN,NaN,Hera,gods,right_only
57,Iliad,15.115,NaN,NaN,Ares,gods,right_only
58,Aeneid,9.83,NaN,NaN,Cybele,Jupiter,right_only
59,Aeneid,9.94,NaN,NaN,Jupiter,Cybele,right_only
60,Aeneid,9.481,NaN,NaN,Euryalus' mother,Euryalus,right_only

#### Precision and Recall

In [26]:
true_pos = sum(results['_merge'] == 'both')

p = true_pos / hits.shape[0]
r = true_pos / bench.shape[0]

print(f'Precision: {p:.2f}')
print(f'Recall:    {r:.2f}')

Precision: 1.00
Recall:    0.92

### Discussion

#### The good news
We got almost all of the benchmark set, with exceptions to be discussed below, and no false positives.

#### The bad news
Let's look a little more closely at the speeches we missed:

In [27]:
missed = results[results['_merge'] == 'right_only'][
                ['work', 'l_first', 'spkr_h', 'addr_h', 'spkr_b', 'addr_b']]
missed

      work l_first spkr_h addr_h            spkr_b    addr_b
56   Iliad  15.104    NaN    NaN              Hera      gods
57   Iliad  15.115    NaN    NaN              Ares      gods
58  Aeneid    9.83    NaN    NaN            Cybele   Jupiter
59  Aeneid    9.94    NaN    NaN           Jupiter    Cybele
60  Aeneid   9.481    NaN    NaN  Euryalus' mother  Euryalus

At a glance, I'd say these fall into three groups:

 1. A conversation in the Iliad between Hera and a group of gods, some of whom were here children
 2. A conversation in the Aeneid between Jupiter and "Cybele," i.e., Rhea.
 3. A conversation in the Aeneid between Euryalus and his anonymous mother.

#### Digging a little deeper

First, let's confirm that all these speeches are in the database results.

In [28]:
missed.merge(df, how='left', on=['work', 'l_first'])[[
    'work', 'l_first',                           # - common to both
    'id', 'spkr', 'addr', 'spkr_wd', 'addr_wd',  # - from df
            'sp_is_mom', 'ad_is_mom',            #
    'spkr_b', 'addr_b'                           # - from bench
]]

,work,l_first,id,spkr,addr,spkr_wd,addr_wd,sp_is_mom,ad_is_mom,spkr_b,addr_b
0,Iliad,15.104,391,Hera,gods,Q38012,None,None,None,Hera,gods
1,Iliad,15.115,392,Ares,gods,Q40901,None,None,None,Ares,gods
2,Aeneid,9.83,1737,Cybele,Jupiter,Q188236,Q34201,False,False,Cybele,Jupiter
3,Aeneid,9.94,1738,Jupiter,Cybele,Q34201,Q188236,False,False,Jupiter,Cybele
4,Aeneid,9.481,1758,Euryalus' mother (Aeneid),Euryalus (Aeneid),None,Q16647668,None,None,Euryalus' mother,Euryalus
5,Aeneid,9.481,1758,Euryalus' mother (Aeneid),Jupiter,None,Q34201,None,None,Euryalus' mother,Euryalus
6,Aeneid,9.481,1758,Euryalus' mother (Aeneid),Rutulians,None,None,None,None,Euryalus' mother,Euryalus

The apostrophe to Euryalus by his mother is in the data from DICES, but what we don’t have is a WikiData ID for her. She’s treated as an anonymous character--along with many other persons described only by a family relation or an occupation--and as of this writing, anonymous speakers and addressees are recorded only as CharacterInstances, without an underlying Character object.

The conversation between Hera and the gods is also there in the results from DICES, but again "gods" doesn't have a WikiData ID. In this case the difficulty as far as DICES is concerned is that collectives can’t currently be broken down into their membership, some of which in this case would have WikiData IDs. On the other hand, if WikiData has a dedicated record for the collective that also includes parent relations, we could work around this.

The conversation between Jupiter and his mom is in the database, and each of these characters is matched with a WikiData entity, but we're not getting the right answer about their kinship relation because Virgil is being poetic here and conflating two goddesses: Rhea, the mother of Zeus, and Cybele, the Phrygian goddess with whom she was sometimes identified. WikiData has distinct entities for the Rhea and Cybele, and only the former is recorded as Zeus’s mother. We can fix this by pointing the character's WikiData ID to the Greek goddess instead (as we did for the Roman deities), but maybe we should think about the larger problem of poetic ambiguity/metonymy/syncretism.

### Takeaways

 - WikiData gave us a lot for free -- all of the individual mother-child relationships were in there when we knew where to look.
 
 - There is still some important work to be done refining our underlying data model.
 
 - If we want to rely on linked open data for high-stakes work, we need resources that are sensitive to the details we care about. We hope that MANTO, because it's specific to Classical myth and hand-curated by domain experts, can help us with problems like when to treat Cybele and Rhea as independent entities and when to consider them identical.