<div class="well" style="margin:1em 2em">
<p>This Notebook demonstrates results reported in the DSH article, <a href="https://doi.org/10.1093/llc/fqac006">"Towards a linked open data resource for direct speech acts in Greek and Latin epic"</a></p>
</div>


# Heroes and their moms

Let's say we're young scholars interested in Telemachus' speech to Penelope.
 - How often does he speak to her?
 - What kind of language does he use?
 - How does the narrator refer to these speeches?
 
We'll start by showing how the DICES database and Python library can be used to retrieve and manipulate the speeches in question. Then we'll expand our perspective to show how DICES enables research on a "distant reading" scale, taking in all heroes and their mothers. Finally, we'll check the accuracy of the automated methods by comparing against a benchmark of hand-curated mother-child speech data.

## Preliminaries

In [1]:
import pandas as pd
from collections import Counter

### Install the client library

If you don't have the DICES client library, you can install it with **pip**:
```
pip install git+https://github.com/cwf2/dices-client.git
```

### The DICES API

When you instantiate the API, you can optionally provide endpoints for the DICES database and for a CTS server hosting the texts.

- The default endpoint for DICES is our Uni-Rostock server.

- The default for texts is the [Perseids CTS server](https://cts.perseids.org/).

Finally, just for Jupyter, I'm passing an optional progress bar generator, and sending log messages to a local file.

In [2]:
from dicesapi import DicesAPI
from dicesapi.jupyter import NotebookPBar

api = DicesAPI(progress_class=NotebookPBar, logfile='dices.log')

### CLTK

#### Set up tokenizers, lemmatizers

I like to have one convenience function that I can call on every speech, regardless of language. That means I have to set up language-specific pipelines first.

In [3]:
from cltk.nlp import NLP

cltk_nlp = {
    'greek': NLP('grc', suppress_banner=True),
    'latin': NLP('lat', suppress_banner=True),    
}

In [4]:
# trim the pipelines to just normalizing and tokenization for speed
cltk_nlp['greek'].pipeline.processes = cltk_nlp['greek'].pipeline.processes[:2]
cltk_nlp['latin'].pipeline.processes = cltk_nlp['latin'].pipeline.processes[:2]

### WikiData

To figure out how characters are related, which isn't in the DICES metadata, I'm going to use [WikiData](https://www.wikidata.org), via the *qwikidata* package.

In [5]:
from qwikidata.linked_data_interface import get_entity_dict_from_api
from qwikidata.entity import WikidataItem, WikidataProperty

##  Part 1

Let's start by building a lexicon for all the words Telemachus speaks to Penelope.

### Identify and download the speeches

Using the hand-rolled DICES API code, we can search speeches using keywords. For now, JSON results from the API are paged, so if your search has a lot of results, you may have to wait for several pages to download. I've added a progress bar widget because I get impatient.

Note that I can specify both the speaker and the addressee.

In [6]:
speeches = api.getSpeeches(spkr_name='Telemachus', addr_name='Penelope')

What did we get?

In [7]:
for s in speeches:
    print(s)

<Speech 713: Odyssey 1.346-1.359>
<Speech 1103: Odyssey 17.46-17.56>
<Speech 1107: Odyssey 17.108-17.149>
<Speech 1170: Odyssey 18.227-18.242>
<Speech 1270: Odyssey 21.344-21.353>
<Speech 1323: Odyssey 23.97-23.103>

### Retrieve the passages from a remote library

We have the metadata for each speech; now we need the text. The DICES library uses [MyCapytain](https://mycapytain.readthedocs.io) under the hood to retrieve the passages from a remote CTS server.

In [8]:
for s in speeches:
    cts_passage = s.getCTS()
    s.text = cts_passage.text
    
    print(f'{s.author.name} {s.work.title} {s.l_range}')
    print(s.text)
    print()

Homer Odyssey 1.346-1.359
Î¼á¿†Ï„ÎµÏ á¼Î¼Î®, Ï„Î¯ Ï„Ê¼ á¼„ÏÎ± Ï†Î¸Î¿Î½Î­ÎµÎ¹Ï‚ á¼ÏÎ¯Î·ÏÎ¿Î½ á¼€Î¿Î¹Î´á½¸Î½ Ï„Î­ÏÏ€ÎµÎ¹Î½ á½…Ï€Ï€á¿ƒ Î¿á¼± Î½ÏŒÎ¿Ï‚ á½„ÏÎ½Ï…Ï„Î±Î¹; Î¿á½” Î½Ï Ï„Ê¼ á¼€Î¿Î¹Î´Î¿á½¶ Î±á¼´Ï„Î¹Î¿Î¹, á¼€Î»Î»Î¬ Ï€Î¿Î¸Î¹ Î–Îµá½ºÏ‚ Î±á¼´Ï„Î¹Î¿Ï‚, á½…Ï‚ Ï„Îµ Î´Î¯Î´Ï‰ÏƒÎ¹Î½ á¼€Î½Î´ÏÎ¬ÏƒÎ¹Î½ á¼€Î»Ï†Î·ÏƒÏ„á¿‡ÏƒÎ¹Î½, á½…Ï€Ï‰Ï‚ á¼Î¸Î­Î»á¿ƒÏƒÎ¹Î½, á¼‘ÎºÎ¬ÏƒÏ„á¿³. Ï„Î¿ÏÏ„á¿³ Î´Ê¼ Î¿á½ Î½Î­Î¼ÎµÏƒÎ¹Ï‚ Î”Î±Î½Î±á¿¶Î½ ÎºÎ±Îºá½¸Î½ Î¿á¼¶Ï„Î¿Î½ á¼€ÎµÎ¯Î´ÎµÎ¹Î½Â· Ï„á½´Î½ Î³á½°Ï á¼€Î¿Î¹Î´á½´Î½ Î¼á¾¶Î»Î»Î¿Î½ á¼Ï€Î¹ÎºÎ»ÎµÎ¯Î¿Ï…ÏƒÊ¼ á¼„Î½Î¸ÏÏ‰Ï€Î¿Î¹, á¼¥ Ï„Î¹Ï‚ á¼€ÎºÎ¿Ï…ÏŒÎ½Ï„ÎµÏƒÏƒÎ¹ Î½ÎµÏ‰Ï„Î¬Ï„Î· á¼€Î¼Ï†Î¹Ï€Î­Î»Î·Ï„Î±Î¹. ÏƒÎ¿á½¶ Î´Ê¼ á¼Ï€Î¹Ï„Î¿Î»Î¼Î¬Ï„Ï‰ ÎºÏÎ±Î´Î¯Î· ÎºÎ±á½¶ Î¸Ï…Î¼á½¸Ï‚ á¼€ÎºÎ¿ÏÎµÎ¹Î½Â· Î¿á½ Î³á½°Ï á½ˆÎ´Ï…ÏƒÏƒÎµá½ºÏ‚ Î¿á¼¶Î¿Ï‚ á¼€Ï€ÏÎ»ÎµÏƒÎµ Î½ÏŒÏƒÏ„Î¹Î¼Î¿Î½ á¼¦Î¼Î±Ï á¼Î½ Î¤ÏÎ¿Î¯á¿ƒ, Ï€Î¿Î»Î»Î¿á½¶ Î´á½² ÎºÎ±á½¶ á¼„Î»Î»Î¿Î¹ Ï†á¿¶Ï„ÎµÏ‚ á½„Î»Î¿Î½Ï„Î¿. á¼€Î»Î»Ê¼ Îµá¼°Ï‚ Î¿á¼¶ÎºÎ¿Î½ á¼°Î¿á¿¦ÏƒÎ± Ï„á½° ÏƒÊ¼ Î±á½Ï„á¿†Ï‚ á¼”ÏÎ³Î± ÎºÏŒÎ¼Î¹Î¶Îµ, á¼±ÏƒÏ„ÏŒÎ½ Ï„Ê¼ á¼ Î»Î±ÎºÎ¬Ï„Î·Î½ Ï„Îµ, ÎºÎ±á½¶ á¼€Î¼Ï†Î¹Ï€ÏŒÎ»Î¿Î¹ÏƒÎ¹ ÎºÎ­Î»ÎµÏ…Îµ á¼”ÏÎ³Î¿Î½ á¼Ï€Î¿Î¯Ï‡ÎµÏƒÎ¸Î±Î¹Â· Î¼á¿¦Î¸Î¿Ï‚ Î´Ê¼ á¼„Î½Î´ÏÎµÏƒÏƒÎ¹ Î¼ÎµÎ»Î®ÏƒÎµÎ¹ Ï€á¾¶ÏƒÎ¹, Î¼Î¬Î»Î¹ÏƒÏ„Î± Î´Ê¼ á¼Î¼Î¿Î¯Â· Ï„Î¿á¿¦ Î³á½°Ï ÎºÏÎ¬Ï„Î¿Ï‚ á¼”ÏƒÏ„Ê¼ á¼Î½á½¶ Î¿á¼´Îºá¿³.

Homer Odyssey 17.46-17.56
Î¼á¿†Ï„ÎµÏ á¼Î¼Î®, Î¼Î® Î¼Î¿Î¹ Î³ÏŒÎ¿Î½ á½„ÏÎ½Ï…Î¸Î¹ Î¼Î·Î´Î­ Î¼Î¿Î¹ á¼¦Ï„Î¿Ï á¼Î½ ÏƒÏ„Î®Î¸ÎµÏƒÏƒÎ¹Î½ á½„ÏÎ¹Î½Îµ Ï†Ï…Î³ÏŒÎ½Ï„Î¹ Ï€ÎµÏ Î±á¼°Ï€á½ºÎ½ á½„Î»ÎµÎ¸ÏÎ¿Î½Â· á¼€Î»Î»Ê¼ á½‘Î´ÏÎ·Î½Î±Î¼Î­Î½Î·, ÎºÎ±Î¸Î±Ïá½° Ï‡ÏÎ¿á¿’ Îµá¼µÎ¼Î±Î¸Ê¼ á¼‘Î»Î¿á¿¦ÏƒÎ±, Îµá¼°Ï‚ á½‘Ï€ÎµÏá¿·Ê¼ á¼€Î½Î±Î²á¾¶ÏƒÎ± Ïƒá½ºÎ½ á¼€Î¼Ï†Î¹Ï€ÏŒÎ»Î¿Î¹ÏƒÎ¹ Î³Ï…Î½Î±Î¹Î¾á½¶Î½ Îµá½”Ï‡ÎµÎ¿ Ï€á¾¶ÏƒÎ¹ Î¸ÎµÎ¿á¿–ÏƒÎ¹ Ï„ÎµÎ»Î·Î­ÏƒÏƒÎ±Ï‚ á¼‘ÎºÎ±Ï„ÏŒÎ¼Î²Î±Ï‚ á¿¥Î­Î¾ÎµÎ¹Î½, Î±á¼´ ÎºÎ­ Ï€Î¿Î¸Î¹ Î–Îµá½ºÏ‚ á¼„Î½Ï„Î¹Ï„Î± á¼”ÏÎ³Î± Ï„ÎµÎ»Î­ÏƒÏƒá¿ƒ. Î±á½Ï„á½°Ï á¼Î³á½¼Î½ á¼€Î³Î¿Ïá½´Î½ á¼ÏƒÎµÎ»ÎµÏÏƒÎ¿Î¼Î±Î¹, á½„Ï†ÏÎ± ÎºÎ±Î»Î­ÏƒÏƒÏ‰ Î¾Îµá¿–Î½Î¿Î½, á½…Ï„Î¹Ï‚ Î¼Î¿Î¹ ÎºÎµá¿–Î¸ÎµÎ½ á¼…Î¼Ê¼ á¼•ÏƒÏ€ÎµÏ„Î¿ Î´Îµá¿¦ÏÎ¿ ÎºÎ¹ÏŒÎ½Ï„Î¹. Ï„á½¸Î½ Î¼á½²Î½ á¼Î³á½¼ Ï€ÏÎ¿á½”Ï€ÎµÎ¼ÏˆÎ± Ïƒá½ºÎ½ á¼€Î½Ï„Î¹Î¸Î­Î¿Î¹Ï‚ á¼‘Ï„Î¬ÏÎ¿Î¹ÏƒÎ¹, Î ÎµÎ¯ÏÎ±Î¹Î¿Î½ Î´Î­ Î¼Î¹Î½ á¼ Î½ÏÎ³ÎµÎ± Ï€ÏÎ¿Ï„á½¶ Î¿á¼¶ÎºÎ¿Î½ á¼„Î³Î¿Î½Ï„Î± á¼Î½Î´Ï…ÎºÎ­Ï‰Ï‚ Ï†Î¹Î»Î­ÎµÎ¹Î½ ÎºÎ±á½¶ Ï„Î¹Î­Î¼ÎµÎ½, Îµá¼°Ï‚ á½… ÎºÎµÎ½ á¼”Î»Î¸Ï‰.

Homer Odyssey 17.108-17.149
Ï„Î¿Î¹Î³á½°Ï á¼Î³Ï Ï„Î¿Î¹, Î¼á¿†Ï„ÎµÏ, á¼€Î»Î·Î¸ÎµÎ¯Î·Î½ ÎºÎ±Ï„Î±Î»Î­Î¾Ï‰. á¾ Ï‡ÏŒÎ¼ÎµÎ¸Ê¼ á¼”Ï‚ Ï„Îµ Î ÏÎ»Î¿Î½ ÎºÎ±á½¶ ÎÎ­ÏƒÏ„Î¿ÏÎ±, Ï€Î¿Î¹Î¼Î­Î½Î± Î»Î±á¿¶Î½Â· Î´ÎµÎ¾Î¬Î¼ÎµÎ½Î¿Ï‚ Î´Î­ Î¼Îµ ÎºÎµá¿–Î½Î¿Ï‚ á¼Î½ á½‘ÏˆÎ·Î»Î¿á¿–ÏƒÎ¹ Î´ÏŒÎ¼Î¿Î¹ÏƒÎ¹Î½ á¼Î½Î´Ï…ÎºÎ­Ï‰Ï‚ á¼Ï†Î¯Î»ÎµÎ¹, á½¡Ï‚ Îµá¼´ Ï„Îµ Ï€Î±Ï„á½´Ï á¼‘á½¸Î½ Ï…á¼±á½¸Î½ á¼Î»Î¸ÏŒÎ½Ï„Î± Ï‡ÏÏŒÎ½Î¹Î¿Î½ Î½Î­Î¿Î½ á¼„Î»Î»Î¿Î¸ÎµÎ½Â· á½£Ï‚ á¼Î¼á½² ÎºÎµá¿–Î½Î¿Ï‚ á¼Î½Î´Ï…ÎºÎ­Ï‰Ï‚ á¼ÎºÏŒÎ¼Î¹Î¶Îµ Ïƒá½ºÎ½ Ï…á¼±Î¬ÏƒÎ¹ ÎºÏ…Î´Î±Î»Î¯Î¼Î¿Î¹ÏƒÎ¹Î½. Î±á½Ï„á½°Ï á½ˆÎ´Ï…ÏƒÏƒá¿†Î¿Ï‚ Ï„Î±Î»Î±ÏƒÎ¯Ï†ÏÎ¿Î½Î¿Ï‚ Î¿á½” Ï€Î¿Ï„Ê¼ á¼”Ï†Î±ÏƒÎºÎµÎ½, Î¶Ï‰Î¿á¿¦ Î¿á½Î´á½² Î¸Î±Î½ÏŒÎ½Ï„Î¿Ï‚, á¼Ï€Î¹Ï‡Î¸Î¿Î½Î¯Ï‰Î½ Ï„ÎµÏ… á¼€ÎºÎ¿á¿¦ÏƒÎ±Î¹Â· á¼€Î»Î»Î¬ Î¼Ê¼ á¼Ï‚ á¼ˆÏ„ÏÎµÎÎ´Î·Î½, Î´Î¿Ï…ÏÎ¹ÎºÎ»ÎµÎ¹Ï„á½¸Î½ ÎœÎµÎ½Î­Î»Î±Î¿Î½, á¼µÏ€Ï€Î¿Î¹ÏƒÎ¹ Ï€ÏÎ¿á½”Ï€ÎµÎ¼ÏˆÎµ ÎºÎ±á½¶ á¼…ÏÎ¼Î±ÏƒÎ¹ ÎºÎ¿Î»Î»Î·Ï„Î¿á¿–ÏƒÎ¹Î½. á¼”Î½Î¸Ê¼ á¼´Î´Î¿Î½ á¼ˆÏÎ³ÎµÎ¯Î·Î½ á¼™Î»Î­Î½Î·Î½, á¼§Ï‚ Îµá¼µÎ½ÎµÎºÎ± Ï€Î¿Î»Î»á½° á¼ˆÏÎ³Îµá¿–Î¿Î¹ Î¤Ïá¿¶Î­Ï‚ Ï„Îµ Î¸Îµá¿¶Î½ á¼°ÏŒÏ„Î·Ï„Î¹ Î¼ÏŒÎ³Î·ÏƒÎ±Î½. Îµá¼´ÏÎµÏ„Î¿ Î´Ê¼ Î±á½Ï„Î¯ÎºÊ¼ á¼”Ï€ÎµÎ¹Ï„Î± Î²Î¿á½´Î½ á¼€Î³Î±Î¸á½¸Ï‚ ÎœÎµÎ½Î­Î»Î±Î¿Ï‚ á½…Ï„Ï„ÎµÏ… Ï‡ÏÎ·ÎÎ¶Ï‰Î½ á¼±ÎºÏŒÎ¼Î·Î½ Î›Î±ÎºÎµÎ´Î±Î¯Î¼Î¿Î½Î± Î´á¿–Î±Î½Â· Î±á½Ï„á½°Ï á¼Î³á½¼ Ï„á¿· Ï€á¾¶ÏƒÎ±Î½ á¼€Î»Î·Î¸ÎµÎ¯Î·Î½ ÎºÎ±Ï„Î­Î»ÎµÎ¾Î±Â· ÎºÎ±á½¶ Ï„ÏŒÏ„Îµ Î´Î® Î¼Îµ á¼”Ï€ÎµÏƒÏƒÎ¹Î½ á¼€Î¼ÎµÎ¹Î²ÏŒÎ¼ÎµÎ½Î¿Ï‚ Ï€ÏÎ¿ÏƒÎ­ÎµÎ¹Ï€ÎµÎ½Â· á½¢ Ï€ÏŒÏ€Î¿Î¹, á¼¦ Î¼Î¬Î»Î± Î´á½´ ÎºÏÎ±Ï„ÎµÏÏŒÏ†ÏÎ¿Î½Î¿Ï‚ á¼€Î½Î´Ïá½¸Ï‚ á¼Î½
 Îµá½Î½á¿‡ á¼¤Î¸ÎµÎ»Î¿Î½ Îµá½Î½Î·Î¸á¿†Î½Î±Î¹, á¼€Î½Î¬Î»ÎºÎ¹Î´ÎµÏ‚ Î±á½Ï„Î¿á½¶ á¼ÏŒÎ½Ï„ÎµÏ‚. á½¡Ï‚ Î´Ê¼ á½Ï€ÏŒÏ„Ê¼ á¼Î½ Î¾Ï…Î»ÏŒÏ‡á¿³ á¼”Î»Î±Ï†Î¿Ï‚ ÎºÏÎ±Ï„ÎµÏÎ¿á¿–Î¿ Î»Î­Î¿Î½Ï„Î¿Ï‚ Î½ÎµÎ²ÏÎ¿á½ºÏ‚ ÎºÎ¿Î¹Î¼Î®ÏƒÎ±ÏƒÎ± Î½ÎµÎ·Î³ÎµÎ½Î­Î±Ï‚ Î³Î±Î»Î±Î¸Î·Î½Î¿á½ºÏ‚ ÎºÎ½Î·Î¼Î¿á½ºÏ‚ á¼Î¾ÎµÏÎ­á¿ƒÏƒÎ¹ ÎºÎ±á½¶ á¼„Î³ÎºÎµÎ± Ï€Î¿Î¹Î®ÎµÎ½Ï„Î± Î²Î¿ÏƒÎºÎ¿Î¼Î­Î½Î·, á½ Î´Ê¼ á¼”Ï€ÎµÎ¹Ï„Î± á¼‘á½´Î½ Îµá¼°ÏƒÎ®Î»Ï…Î¸ÎµÎ½ Îµá½Î½Î®Î½, á¼€Î¼Ï†Î¿Ï„Î­ÏÎ¿Î¹ÏƒÎ¹ Î´á½² Ï„Î¿á¿–ÏƒÎ¹Î½ á¼€ÎµÎ¹ÎºÎ­Î± Ï€ÏŒÏ„Î¼Î¿Î½ á¼Ï†á¿†ÎºÎµÎ½, á½£Ï‚ á½ˆÎ´Ï…ÏƒÎµá½ºÏ‚ ÎºÎµÎ¯Î½Î¿Î¹ÏƒÎ¹Î½ á¼€ÎµÎ¹ÎºÎ­Î± Ï€ÏŒÏ„Î¼Î¿Î½ á¼Ï†Î®ÏƒÎµÎ¹. Î±á¼² Î³Î¬Ï, Î–Îµá¿¦ Ï„Îµ Ï€Î¬Ï„ÎµÏ ÎºÎ±á½¶ á¼ˆÎ¸Î·Î½Î±Î¯Î· ÎºÎ±á½¶ á¼ŒÏ€Î¿Î»Î»Î¿Î½, Ï„Î¿á¿–Î¿Ï‚ á¼á½¼Î½ Î¿á¼·ÏŒÏ‚ Ï€Î¿Ï„Ê¼ á¼Ï‹ÎºÏ„Î¹Î¼Î­Î½á¿ƒ á¼Î½á½¶ Î›Î­ÏƒÎ²á¿³ á¼Î¾ á¼”ÏÎ¹Î´Î¿Ï‚ Î¦Î¹Î»Î¿Î¼Î·Î»ÎµÎÎ´á¿ƒ á¼Ï€Î¬Î»Î±Î¹ÏƒÎµÎ½ á¼€Î½Î±ÏƒÏ„Î¬Ï‚, Îºá½°Î´ Î´Ê¼ á¼”Î²Î±Î»Îµ ÎºÏÎ±Ï„ÎµÏá¿¶Ï‚, ÎºÎµÏ‡Î¬ÏÎ¿Î½Ï„Î¿ Î´á½² Ï€Î¬Î½Ï„ÎµÏ‚ á¼ˆÏ‡Î±Î¹Î¿Î¯, Ï„Î¿á¿–Î¿Ï‚ á¼á½¼Î½ Î¼Î½Î·ÏƒÏ„á¿†ÏÏƒÎ¹Î½ á½Î¼Î¹Î»Î®ÏƒÎµÎ¹ÎµÎ½ á½ˆÎ´Ï…ÏƒÏƒÎµÏÏ‚Â· Ï€Î¬Î½Ï„ÎµÏ‚ ÎºÊ¼ á½ ÎºÏÎ¼Î¿ÏÎ¿Î¯ Ï„Îµ Î³ÎµÎ½Î¿Î¯Î±Ï„Î¿ Ï€Î¹ÎºÏÏŒÎ³Î±Î¼Î¿Î¯ Ï„Îµ. Ï„Î±á¿¦Ï„Î± Î´Ê¼ á¼… Î¼Ê¼ Îµá¼°ÏÏ‰Ï„á¾·Ï‚ ÎºÎ±á½¶ Î»Î¯ÏƒÏƒÎµÎ±Î¹, Î¿á½Îº á¼‚Î½ á¼Î³Ï Î³Îµ á¼„Î»Î»Î± Ï€Î±Ïá½²Î¾ Îµá¼´Ï€Î¿Î¹Î¼Î¹ Ï€Î±ÏÎ±ÎºÎ»Î¹Î´á½¸Î½ Î¿á½Î´Ê¼ á¼€Ï€Î±Ï„Î®ÏƒÏ‰, á¼€Î»Î»á½° Ï„á½° Î¼Î­Î½ Î¼Î¿Î¹ á¼”ÎµÎ¹Ï€Îµ Î³Î­ÏÏ‰Î½ á¼…Î»Î¹Î¿Ï‚ Î½Î·Î¼ÎµÏÏ„Î®Ï‚, Ï„á¿¶Î½ Î¿á½Î´Î­Î½ Ï„Î¿Î¹ á¼Î³á½¼ ÎºÏÏÏˆÏ‰ á¼”Ï€Î¿Ï‚ Î¿á½Î´Ê¼ á¼Ï€Î¹ÎºÎµÏÏƒÏ‰. Ï†á¿† Î¼Î¹Î½ á½… Î³Ê¼ á¼Î½ Î½Î®Ïƒá¿³ á¼°Î´Î­ÎµÎ¹Î½ ÎºÏÎ±Ï„Î­ÏÊ¼ á¼„Î»Î³ÎµÊ¼ á¼”Ï‡Î¿Î½Ï„Î±, Î½ÏÎ¼Ï†Î·Ï‚ á¼Î½ Î¼ÎµÎ³Î¬ÏÎ¿Î¹ÏƒÎ¹ ÎšÎ±Î»Ï…ÏˆÎ¿á¿¦Ï‚, á¼¥ Î¼Î¹Î½ á¼€Î½Î¬Î³Îºá¿ƒ á¼´ÏƒÏ‡ÎµÎ¹Â· á½ Î´Ê¼ Î¿á½ Î´ÏÎ½Î±Ï„Î±Î¹ á¼£Î½ Ï€Î±Ï„ÏÎ¯Î´Î± Î³Î±á¿–Î±Î½ á¼±ÎºÎ­ÏƒÎ¸Î±Î¹. Î¿á½ Î³Î¬Ï Î¿á¼± Ï€Î¬ÏÎ± Î½á¿†ÎµÏ‚ á¼Ï€Î®ÏÎµÏ„Î¼Î¿Î¹ ÎºÎ±á½¶ á¼‘Ï„Î±á¿–ÏÎ¿Î¹, Î¿á¼µ ÎºÎ­Î½ Î¼Î¹Î½ Ï€Î­Î¼Ï€Î¿Î¹ÎµÎ½ á¼Ï€Ê¼ Îµá½ÏÎ­Î± Î½á¿¶Ï„Î± Î¸Î±Î»Î¬ÏƒÏƒÎ·Ï‚ á½£Ï‚ á¼”Ï†Î±Ï„Ê¼ á¼ˆÏ„ÏÎµÎÎ´Î·Ï‚, Î´Î¿Ï…ÏÎ¹ÎºÎ»ÎµÎ¹Ï„á½¸Ï‚ ÎœÎµÎ½Î­Î»Î±Î¿Ï‚. Ï„Î±á¿¦Ï„Î± Ï„ÎµÎ»ÎµÏ…Ï„Î®ÏƒÎ±Ï‚ Î½ÎµÏŒÎ¼Î·Î½Â· á¼”Î´Î¿ÏƒÎ±Î½ Î´Î­ Î¼Î¿Î¹ Î¿á½–ÏÎ¿Î½ á¼€Î¸Î¬Î½Î±Ï„Î¿Î¹, Ï„Î¿Î¯ Î¼Ê¼ á½¦ÎºÎ± Ï†Î¯Î»Î·Î½ á¼Ï‚ Ï€Î±Ï„ÏÎ¯Î´Ê¼ á¼”Ï€ÎµÎ¼ÏˆÎ±Î½.

Homer Odyssey 18.227-18.242
Î¼á¿†Ï„ÎµÏ á¼Î¼Î®, Ï„á½¸ Î¼á½²Î½ Î¿á½” ÏƒÎµ Î½ÎµÎ¼ÎµÏƒÏƒá¿¶Î¼Î±Î¹ ÎºÎµÏ‡Î¿Î»á¿¶ÏƒÎ¸Î±Î¹Â· Î±á½Ï„á½°Ï á¼Î³á½¼ Î¸Ï…Î¼á¿· Î½Î¿Î­Ï‰ ÎºÎ±á½¶ Î¿á¼¶Î´Î± á¼•ÎºÎ±ÏƒÏ„Î±, á¼ÏƒÎ¸Î»Î¬ Ï„Îµ ÎºÎ±á½¶ Ï„á½° Ï‡Î­ÏÎµÎ¹Î±Â· Ï€Î¬ÏÎ¿Ï‚ Î´Ê¼ á¼”Ï„Î¹ Î½Î®Ï€Î¹Î¿Ï‚ á¼¦Î±. á¼€Î»Î»Î¬ Ï„Î¿Î¹ Î¿á½ Î´ÏÎ½Î±Î¼Î±Î¹ Ï€ÎµÏ€Î½Ï…Î¼Î­Î½Î± Ï€Î¬Î½Ï„Î± Î½Î¿á¿†ÏƒÎ±Î¹Â· á¼Îº Î³Î¬Ï Î¼Îµ Ï€Î»Î®ÏƒÏƒÎ¿Ï…ÏƒÎ¹ Ï€Î±ÏÎ®Î¼ÎµÎ½Î¿Î¹ á¼„Î»Î»Î¿Î¸ÎµÎ½ á¼„Î»Î»Î¿Ï‚ Î¿á¼µÎ´Îµ ÎºÎ±Îºá½° Ï†ÏÎ¿Î½Î­Î¿Î½Ï„ÎµÏ‚, á¼Î¼Î¿á½¶ Î´Ê¼ Î¿á½Îº Îµá¼°Ïƒá½¶Î½ á¼€ÏÏ‰Î³Î¿Î¯. Î¿á½ Î¼Î­Î½ Ï„Î¿Î¹ Î¾ÎµÎ¯Î½Î¿Ï… Î³Îµ ÎºÎ±á½¶ á¼¼ÏÎ¿Ï… Î¼á¿¶Î»Î¿Ï‚ á¼Ï„ÏÏ‡Î¸Î· Î¼Î½Î·ÏƒÏ„Î®ÏÏ‰Î½ á¼°ÏŒÏ„Î·Ï„Î¹, Î²Î¯á¿ƒ Î´Ê¼ á½… Î³Îµ Ï†Î­ÏÏ„ÎµÏÎ¿Ï‚ á¼¦ÎµÎ½. Î±á¼² Î³Î¬Ï, Î–Îµá¿¦ Ï„Îµ Ï€Î¬Ï„ÎµÏ ÎºÎ±á½¶ á¼ˆÎ¸Î·Î½Î±Î¯Î· ÎºÎ±á½¶ á¼ŒÏ€Î¿Î»Î»Î¿Î½, Î¿á½•Ï„Ï‰ Î½á¿¦Î½ Î¼Î½Î·ÏƒÏ„á¿†ÏÎµÏ‚ á¼Î½ á¼¡Î¼ÎµÏ„Î­ÏÎ¿Î¹ÏƒÎ¹ Î´ÏŒÎ¼Î¿Î¹ÏƒÎ¹ Î½ÎµÏÎ¿Î¹ÎµÎ½ ÎºÎµÏ†Î±Î»á½°Ï‚ Î´ÎµÎ´Î¼Î·Î¼Î­Î½Î¿Î¹, Î¿á¼± Î¼á½²Î½ á¼Î½ Î±á½Î»á¿‡, Î¿á¼± Î´Ê¼ á¼”Î½Ï„Î¿ÏƒÎ¸Îµ Î´ÏŒÎ¼Î¿Î¹Î¿, Î»ÎµÎ»á¿¦Ï„Î¿ Î´á½² Î³Ï…á¿–Î± á¼‘ÎºÎ¬ÏƒÏ„Î¿Ï…, á½¡Ï‚ Î½á¿¦Î½ á¼¾ÏÎ¿Ï‚ ÎºÎµá¿–Î½Î¿Ï‚ á¼Ï€Ê¼ Î±á½Î»ÎµÎ¯á¿ƒÏƒÎ¹ Î¸ÏÏá¿ƒÏƒÎ¹Î½ á¼§ÏƒÏ„Î±Î¹ Î½ÎµÏ…ÏƒÏ„Î¬Î¶Ï‰Î½ ÎºÎµÏ†Î±Î»á¿‡, Î¼ÎµÎ¸ÏÎ¿Î½Ï„Î¹ á¼Î¿Î¹ÎºÏÏ‚, Î¿á½Î´Ê¼ á½€ÏÎ¸á½¸Ï‚ ÏƒÏ„á¿†Î½Î±Î¹ Î´ÏÎ½Î±Ï„Î±Î¹ Ï€Î¿Ïƒá½¶Î½ Î¿á½Î´á½² Î½Î­ÎµÏƒÎ¸Î±Î¹ Î¿á¼´ÎºÎ±Î´Ê¼, á½…Ï€Î· Î¿á¼± Î½ÏŒÏƒÏ„Î¿Ï‚, á¼Ï€Îµá½¶ Ï†Î¯Î»Î± Î³Ï…á¿–Î± Î»Î­Î»Ï…Î½Ï„Î±Î¹.

Homer Odyssey 21.344-21.353
Î¼á¿†Ï„ÎµÏ á¼Î¼Î®, Ï„ÏŒÎ¾Î¿Î½ Î¼á½²Î½ á¼ˆÏ‡Î±Î¹á¿¶Î½ Î¿á½” Ï„Î¹Ï‚ á¼Î¼Îµá¿–Î¿ ÎºÏÎµÎ¯ÏƒÏƒÏ‰Î½, á¾§ ÎºÊ¼ á¼Î¸Î­Î»Ï‰, Î´ÏŒÎ¼ÎµÎ½Î±Î¯ Ï„Îµ ÎºÎ±á½¶ á¼€ÏÎ½Î®ÏƒÎ±ÏƒÎ¸Î±Î¹, Î¿á½”Î¸Ê¼ á½…ÏƒÏƒÎ¿Î¹ ÎºÏÎ±Î½Î±á½´Î½ á¼¸Î¸Î¬ÎºÎ·Î½ ÎºÎ¬Ï„Î± ÎºÎ¿Î¹ÏÎ±Î½Î­Î¿Ï…ÏƒÎ¹Î½, Î¿á½”Î¸Ê¼ á½…ÏƒÏƒÎ¿Î¹ Î½Î®ÏƒÎ¿Î¹ÏƒÎ¹ Ï€Ïá½¸Ï‚ á¼¬Î»Î¹Î´Î¿Ï‚ á¼±Ï€Ï€Î¿Î²ÏŒÏ„Î¿Î¹Î¿Â· Ï„á¿¶Î½ Î¿á½” Ï„Î¯Ï‚ Î¼Ê¼ á¼€Î­ÎºÎ¿Î½Ï„Î± Î²Î¹Î®ÏƒÎµÏ„Î±Î¹, Î±á¼´ ÎºÊ¼ á¼Î¸Î­Î»Ï‰Î¼Î¹ ÎºÎ±á½¶ ÎºÎ±Î¸Î¬Ï€Î±Î¾ Î¾ÎµÎ¯Î½á¿³ Î´ÏŒÎ¼ÎµÎ½Î±Î¹ Ï„Î¬Î´Îµ Ï„ÏŒÎ¾Î± Ï†Î­ÏÎµÏƒÎ¸Î±Î¹. á¼€Î»Î»Ê¼ Îµá¼°Ï‚ Î¿á¼¶ÎºÎ¿Î½ á¼°Î¿á¿¦ÏƒÎ± Ï„á½° ÏƒÊ¼ Î±á½Ï„á¿†Ï‚ á¼”ÏÎ³Î± ÎºÏŒÎ¼Î¹Î¶Îµ, á¼±ÏƒÏ„ÏŒÎ½ Ï„Ê¼ á¼ Î»Î±ÎºÎ¬Ï„Î·Î½ Ï„Îµ, ÎºÎ±á½¶ á¼€Î¼Ï†Î¹Ï€ÏŒÎ»Î¿Î¹ÏƒÎ¹ ÎºÎ­Î»ÎµÏ…Îµ á¼”ÏÎ³Î¿Î½ á¼Ï€Î¿Î¯Ï‡ÎµÏƒÎ¸Î±Î¹Â· Ï„ÏŒÎ¾Î¿Î½ Î´Ê¼ á¼„Î½Î´ÏÎµÏƒÏƒÎ¹ Î¼ÎµÎ»Î®ÏƒÎµÎ¹ Ï€á¾¶ÏƒÎ¹, Î¼Î¬Î»Î¹ÏƒÏ„Î± Î´Ê¼ á¼Î¼Î¿Î¯Â· Ï„Î¿á¿¦ Î³á½°Ï ÎºÏÎ¬Ï„Î¿Ï‚ á¼”ÏƒÏ„Ê¼ á¼Î½á½¶ Î¿á¼´Îºá¿³.

Homer Odyssey 23.97-23.103
Î¼á¿†Ï„ÎµÏ á¼Î¼Î®, Î´ÏÏƒÎ¼Î·Ï„ÎµÏ, á¼€Ï€Î·Î½Î­Î± Î¸Ï…Î¼á½¸Î½ á¼”Ï‡Î¿Ï…ÏƒÎ±, Ï„Î¯Ï†Î¸Ê¼ Î¿á½•Ï„Ï‰ Ï€Î±Ï„Ïá½¸Ï‚ Î½Î¿ÏƒÏ†Î¯Î¶ÎµÎ±Î¹, Î¿á½Î´á½² Ï€Î±ÏÊ¼ Î±á½Ï„á½¸Î½ á¼‘Î¶Î¿Î¼Î­Î½Î· Î¼ÏÎ¸Î¿Î¹ÏƒÎ¹Î½ á¼€Î½ÎµÎ¯ÏÎµÎ±Î¹ Î¿á½Î´á½² Î¼ÎµÏ„Î±Î»Î»á¾·Ï‚; Î¿á½ Î¼Î­Î½ ÎºÊ¼ á¼„Î»Î»Î· Î³Ê¼ á½§Î´Îµ Î³Ï…Î½á½´ Ï„ÎµÏ„Î»Î·ÏŒÏ„Î¹ Î¸Ï…Î¼á¿· á¼€Î½Î´Ïá½¸Ï‚ á¼€Ï†ÎµÏƒÏ„Î±Î¯Î·, á½…Ï‚ Î¿á¼± ÎºÎ±Îºá½° Ï€Î¿Î»Î»á½° Î¼Î¿Î³Î®ÏƒÎ±Ï‚ á¼”Î»Î¸Î¿Î¹ á¼ÎµÎ¹ÎºÎ¿ÏƒÏ„á¿· á¼”Ï„ÎµÏŠ á¼Ï‚ Ï€Î±Ï„ÏÎ¯Î´Î± Î³Î±á¿–Î±Î½Â· ÏƒÎ¿á½¶ Î´Ê¼ Î±á¼°Îµá½¶ ÎºÏÎ±Î´Î¯Î· ÏƒÏ„ÎµÏÎµÏ‰Ï„Î­ÏÎ· á¼ÏƒÏ„á½¶ Î»Î¯Î¸Î¿Î¹Î¿.

### Use CLTK to parse the text

Running the CLTK NLP pipeline on the text of a speech will return a specialized cltk `Doc` object containing the bundled results of all processes in the pipeline. First, weâ€™ll run the appropriate language-specific pipeline on each speech and save the resulting object as a new attribute of the speech.

In [9]:
pbar = NotebookPBar(max=len(speeches))

for s in speeches:
    s.cltk_doc = cltk_nlp[s.lang](s.text)
    pbar.update()

HBox(children=(IntProgress(value=0, bar_style='info', max=6), Label(value='0/6')))

Now letâ€™s go through again and count the lemmata. Weâ€™ll create a lemma counter to hold the tallies.

In [10]:
lems = Counter()

for s in speeches:
    lems.update([w.lemma for w in s.cltk_doc])

Convert the counter to a Pandas data frame for tidier presentation.

In [11]:
results = pd.DataFrame(lems.most_common(20), columns=['lemma', 'count'])
results

    lemma  count
0     á¼Î³Ï     23
1     ÎºÎ±Î¯     20
2       á½     19
3      Î´Ê¼     17
4      Î¿á½     14
5      á½…Ï‚     13
6      Ï„Îµ      9
7      ÏƒÏ      9
8      á¼Î½      9
9    Îµá¼°Î¼Î¯      9
10    Îµá¼°Ï‚      8
11     Î´Î­      7
12    Î¼Î­Î½      7
13  Î¼Î®Ï„Î·Ï      6
14    Î³Î¬Ï      6
15  Î±á½Ï„ÏŒÏ‚      6
16    Ï€á¾¶Ï‚      6
17     á½¡Ï‚      6
18    Ï„á½¶Ï‚      5
19  Î¿á¼¶ÎºÎ¿Ï‚      5

## Part 2

Now let's think more broadly. How typical is this kind of speech? We can use external linked data to find other examples of mother-son conversations in the corpus.

### Some custom code to query WikiData

This lets us ask whether a given addressee belongs to the set of people having a certain relationship to a given speaker. It takes a while to download the WikiData entities, and I had to run this a number of times, so I cached WD data in the respective character objects once it's downloaded.

In [12]:
def checkWD(c):
    '''make sure character has wikidata id'''
    if c.char is not None:
        if c.char.wd is not None:
            if len(c.char.wd.strip()) > 0:
                return c.char.wd.strip()

def checkWDRelation(s, a, relation, cache=None):
    if cache is None:
        cache = {}
    else:
        if (s.id, a.id) in cache:
            return cache[(s.id, a.id)]

    res = False

    if not hasattr(s, 'wd_ent'):
        s.wd_ent = WikidataItem(get_entity_dict_from_api(s.wd))

    claim_group = s.wd_ent.get_truthy_claim_group(relation)

    for claim in claim_group:
        if claim.mainsnak.datavalue is None:
            continue
        if claim.mainsnak.datavalue.value['id'] == a.wd:
            res = True
    
    cache[(s.id, a.id)] = res
    return res

For example, the relation "mother of" has the WikiData ID `'P25'`. Here's how we ask if a given addressee is the mother of a given speaker:

In [13]:
speaker = api.getCharacters(name='Telemachus')[0]
addressee = api.getCharacters(name='Penelope')[0]

print(f'Is {addressee.name} the mother of {speaker.name}?')
print(checkWDRelation(speaker, addressee, 'P25'))

Is Penelope the mother of Telemachus?
True

I also added a separate cache just for the boolean result of checkWDRelation, to save a little more time.

In [14]:
cache_mothers = {}

### Using WikiData to filter the speeches

The DICES dataset includes WikiData ids for most of the characters (not all). The DICES API doesn't let us query WikiData itself, though. For now, the easiest thing is just to download all the speeches and character IDs, and then cross reference them against WikiData using its own API.

In [15]:
# download all the speeches: takes a minute
speeches = (
    api.getSpeeches(work_title='Iliad', progress=True) +
    api.getSpeeches(work_title='Odyssey', progress=True) +    
    api.getSpeeches(author_name='Apollonius', progress=True) +
    api.getSpeeches(author_name='Virgil', progress=True))

speeches.sort()

HBox(children=(IntProgress(value=0, bar_style='info', max=698), Label(value='0/698')))

HBox(children=(IntProgress(value=0, bar_style='info', max=673), Label(value='0/673')))

HBox(children=(IntProgress(value=0, bar_style='info', max=143), Label(value='0/143')))

HBox(children=(IntProgress(value=0, bar_style='info', max=341), Label(value='0/341')))

**Check each speaker-addressee pair against WikiData**

What we actually do here is download the WikiData entity for each speaker, if we don't already have it cached. Then we ask the WD entity for its mom(s), and check the WD ID of the addressee against the results.

In [16]:
# start with an empty table
rows = []

# create a progress bar
pbar = NotebookPBar(start=0, max=len(speeches))

# iterate over all the speeches, checking each speaker-addressee combination
for s in speeches:
    if s.spkr is not None and s.addr is not None:
        for spkr in s.spkr:
            spkr_wd = checkWD(spkr)
            if spkr_wd is not None:

                for addr in s.addr:
                    addr_wd = checkWD(addr)
                    if addr_wd is not None:
                        rows.append((
                            s.id,
                            s.work.title,
                            s.l_fi,
                            s.l_la,
                            spkr.char.name, spkr_wd, 
                            addr.char.name, addr_wd,
                            checkWDRelation(spkr.char, addr.char, 'P25', cache=cache_mothers),
                            checkWDRelation(addr.char, spkr.char, 'P25', cache=cache_mothers)
                            ))
    pbar.update()

# finally, organize the table as a pandas data frame
df = pd.DataFrame(rows, columns=['id', 'work', 'l_first', 'l_last', 'spkr', 'sp_wd', 'addr', 'ad_wd', 'sp_is_mom', 'ad_is_mom'])

HBox(children=(IntProgress(value=0, bar_style='info', max=1855), Label(value='0/1855')))

ğŸ¤” Let's take a look at the results. Here is the complete set of speeches, with the additional attribute `sp_is_mom` if the speaker is the addressee's mother, and `ad_is_mom` if the addressee is the speaker's mother.

As a quick sanity check, the first two speeches in the Argonautica, which were at the top of the list when I ran this, are between Jason and his mother, Alcimede.

In [17]:
df[df['work']=='Argonautica']

,id,work,l_first,l_last,spkr,sp_wd,addr,ad_wd,sp_is_mom,ad_is_mom
0,1387,Argonautica,1.278,1.291,Alcimede,Q2718542,Jason,Q176758,False,True
1,1388,Argonautica,1.295,1.305,Jason,Q176758,Alcimede,Q2718542,True,False
2,1392,Argonautica,1.411,1.424,Jason,Q176758,Apollo,Q37340,False,False
3,1394,Argonautica,1.463,1.471,Idas,Q1136130,Jason,Q176758,False,False
4,1395,Argonautica,1.476,1.484,Idmon,Q748144,Idas,Q1136130,False,False
...,...,...,...,...,...,...,...,...,...,...
94,1510,Argonautica,4.1073,4.1095,Arete,Q3622209,Alcinous,Q496595,False,False
95,1511,Argonautica,4.1098,4.1109,Alcinous,Q496595,Arete,Q3622209,False,False
96,1522,Argonautica,4.1564,4.1570,Euphemus,Q749123,Triton,Q148030,False,False
97,1524,Argonautica,4.1597,4.1600,Jason,Q176758,Triton,Q148030,False,False
98,1527,Argonautica,4.1749,4.1754,Jason,Q176758,Euphemus,Q749123,False,False

Thanks to pandas, we can filter the data frame on the new boolean columns to show only speeches between mother and child.

In [18]:
hits = df.loc[df['sp_is_mom'] | df['ad_is_mom'],
             ['work', 'l_first', 'l_last', 'spkr', 'addr']]
hits

             work l_first  l_last        spkr                    addr
0     Argonautica   1.278   1.291    Alcimede                   Jason
1     Argonautica   1.295   1.305       Jason                Alcimede
49    Argonautica   3.129   3.144   Aphrodite                    Eros
50    Argonautica   3.151   3.153   Aphrodite                    Eros
51    Argonautica   3.260   3.267   Chalciope  Argus (son of Phrixus)
124         Iliad   1.352   1.356    Achilles                  Thetis
125         Iliad   1.362   1.363      Thetis                Achilles
126         Iliad   1.365   1.412    Achilles                  Thetis
127         Iliad   1.414   1.427      Thetis                Achilles
137         Iliad   1.586   1.594  Hephaestus                    Hera
206         Iliad   5.373   5.374       Dione               Aphrodite
207         Iliad   5.376   5.380   Aphrodite                   Dione
208         Iliad   5.382   5.415       Dione               Aphrodite
232         Iliad   6.254   6.262      Hecuba                  Hector
233         Iliad   6.264   6.285      Hector                  Hecuba
504         Iliad   18.73   18.77      Thetis                Achilles
505         Iliad   18.79   18.93    Achilles                  Thetis
506         Iliad   18.95   18.96      Thetis                Achilles
507         Iliad   18.98  18.126    Achilles                  Thetis
508         Iliad  18.128  18.137      Thetis                Achilles
526         Iliad    19.8   19.11      Thetis                Achilles
527         Iliad   19.21   19.27    Achilles                  Thetis
528         Iliad   19.29   19.36      Thetis                Achilles
573         Iliad  21.331  21.341        Hera              Hephaestus
576         Iliad  21.379  21.380        Hera              Hephaestus
594         Iliad   22.82   22.89      Hecuba                  Hector
611         Iliad  22.431  22.436      Hecuba                  Hector
648         Iliad  24.128  24.137      Thetis                Achilles
649         Iliad  24.139  24.140    Achilles                  Thetis
687         Iliad  24.748  24.759      Hecuba                  Hector
702       Odyssey   1.346   1.359  Telemachus                Penelope
876       Odyssey  11.155  11.162    Anticlea                Odysseus
877       Odyssey  11.164  11.179    Odysseus                Anticlea
878       Odyssey  11.181  11.203    Anticlea                Odysseus
879       Odyssey  11.210  11.214    Odysseus                Anticlea
880       Odyssey  11.216  11.224    Anticlea                Odysseus
1001      Odyssey   17.41   17.44    Penelope              Telemachus
1002      Odyssey   17.46   17.56  Telemachus                Penelope
1003      Odyssey  17.101  17.106    Penelope              Telemachus
1004      Odyssey  17.108  17.149  Telemachus                Penelope
1057      Odyssey  18.215  18.225    Penelope              Telemachus
1058      Odyssey  18.227  18.242  Telemachus                Penelope
1139      Odyssey  21.344  21.353  Telemachus                Penelope
1181      Odyssey   23.97  23.103  Telemachus                Penelope
1182      Odyssey  23.105  23.110    Penelope              Telemachus
1230       Aeneid   1.321   1.324   Aphrodite                  Aeneas
1231       Aeneid   1.326   1.334      Aeneas               Aphrodite
1233       Aeneid   1.335   1.370   Aphrodite                  Aeneas
1234       Aeneid   1.372   1.385      Aeneas               Aphrodite
1235       Aeneid   1.387   1.401   Aphrodite                  Aeneas
1236       Aeneid   1.407   1.409      Aeneas               Aphrodite
1242       Aeneid   1.664   1.688   Aphrodite                    Eros
1265       Aeneid   2.594   2.620   Aphrodite                  Aeneas
1268       Aeneid   2.657   2.670      Aeneas               Aphrodite
1345       Aeneid   6.194   6.197      Aeneas               Aphrodite
1411       Aeneid   8.612   8.614   Aphrodite                  Aeneas

Pandas also comes in handy if I wanted to export this data to Excel:

In [19]:
hits.to_csv('example.csv')

### Validation

Let's see how well the automated approach worked. We'll load up a hand-corrected list of mother-child speeches and compare.

In [20]:
bench = pd.read_csv('data/moms-bench.csv', dtype=str)
bench

      work l_first l_last              spkr                 addr
0    Iliad   1.352    356          Achilles               Thetis
1    Iliad   1.362    363            Thetis             Achilles
2    Iliad   1.365    412          Achilles               Thetis
3    Iliad   1.414    427            Thetis             Achilles
4    Iliad   1.586    594        Hephaestus                 Hera
..     ...     ...    ...               ...                  ...
56  Aeneid   6.194    197            Aeneas  two doves and Venus
57  Aeneid   8.612    614             Venus               Aeneas
58  Aeneid    9.83     92            Cybele              Jupiter
59  Aeneid    9.94    103           Jupiter               Cybele
60  Aeneid   9.481    497  Euryalus' mother             Euryalus

[61 rows x 5 columns]

Let's look at the union of `hits` and `bench` to see how we did:

In [21]:
results = hits.merge(bench, on=['work', 'l_first'], how='outer', 
                        suffixes=['_h', '_b'], indicator=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(results[['work', 'l_first', 'spkr_h', 'addr_h', 'spkr_b', 'addr_b', '_merge']])

,work,l_first,spkr_h,addr_h,spkr_b,addr_b,_merge
0,Argonautica,1.278,Alcimede,Jason,Alcimede,Jason,both
1,Argonautica,1.295,Jason,Alcimede,Jason,Alcimede,both
2,Argonautica,3.129,Aphrodite,Eros,Aphrodite,Eros,both
3,Argonautica,3.151,Aphrodite,Eros,Aphrodite,Eros,both
4,Argonautica,3.260,Chalciope,Argus (son of Phrixus),Chalciope,Argus,both
5,Iliad,1.352,Achilles,Thetis,Achilles,Thetis,both
6,Iliad,1.362,Thetis,Achilles,Thetis,Achilles,both
7,Iliad,1.365,Achilles,Thetis,Achilles,Thetis,both
8,Iliad,1.414,Thetis,Achilles,Thetis,Achilles,both
9,Iliad,1.586,Hephaestus,Hera,Hephaestus,Hera,both
10,Iliad,5.373,Dione,Aphrodite,Dione,Aphrodite,both
11,Iliad,5.376,Aphrodite,Dione,Aphrodite,Dione,both
12,Iliad,5.382,Dione,Aphrodite,Dione,Aphrodite,both
13,Iliad,6.254,Hecuba,Hector,Hecuba,Hector,both
14,Iliad,6.264,Hector,Hecuba,Hector,Hecuba,both
15,Iliad,18.73,Thetis,Achilles,Thetis,Achilles,both
16,Iliad,18.79,Achilles,Thetis,Achilles,Thetis,both
17,Iliad,18.95,Thetis,Achilles,Thetis,Achilles,both
18,Iliad,18.98,Achilles,Thetis,Achilles,Thetis,both
19,Iliad,18.128,Thetis,Achilles,Thetis,Achilles,both
20,Iliad,19.8,Thetis,Achilles,Thetis,Achilles,both
21,Iliad,19.21,Achilles,Thetis,Achilles,Thetis,both
22,Iliad,19.29,Thetis,Achilles,Thetis,Achilles,both
23,Iliad,21.331,Hera,Hephaestus,Hera,Hephaestus,both
24,Iliad,21.379,Hera,Hephaestus,Hera,Hephaestus,both
25,Iliad,22.82,Hecuba,Hector,Hecuba,Hector,both
26,Iliad,22.431,Hecuba,Hector,Hecuba,Hector,both
27,Iliad,24.128,Thetis,Achilles,Thetis,Achilles,both
28,Iliad,24.139,Achilles,Thetis,Achilles,Thetis,both
29,Iliad,24.748,Hecuba,Hector,Hecuba,Hector,both
30,Odyssey,1.346,Telemachus,Penelope,Telemachus,Penelope,both
31,Odyssey,11.155,Anticlea,Odysseus,Anticlea,Odysseus,both
32,Odyssey,11.164,Odysseus,Anticlea,Odysseus,Anticlea,both
33,Odyssey,11.181,Anticlea,Odysseus,Anticlea,Odysseus,both
34,Odyssey,11.210,Odysseus,Anticlea,Odysseus,Anticlea,both
35,Odyssey,11.216,Anticlea,Odysseus,Anticlea,Odysseus,both
36,Odyssey,17.41,Penelope,Telemachus,Penelope,Telemachus,both
37,Odyssey,17.46,Telemachus,Penelope,Telemachus,Penelope,both
38,Odyssey,17.101,Penelope,Telemachus,Penelope,Telemachus,both
39,Odyssey,17.108,Telemachus,Penelope,Telemachus,Penelope,both
40,Odyssey,18.215,Penelope,Telemachus,Penelope,Telemachus,both
41,Odyssey,18.227,Telemachus,Penelope,Telemachus,Penelope,both
42,Odyssey,21.344,Telemachus,Penelope,Telemachus,Penelope,both
43,Odyssey,23.97,Telemachus,Penelope,Telemachus,Penelope,both
44,Odyssey,23.105,Penelope,Telemachus,Penelope,Telemachus,both
45,Aeneid,1.321,Aphrodite,Aeneas,Venus (in disguise),Aeneas and Achates,both
46,Aeneid,1.326,Aeneas,Aphrodite,Aeneas,Venus,both
47,Aeneid,1.335,Aphrodite,Aeneas,Venus (in disguise),Aeneas,both
48,Aeneid,1.372,Aeneas,Aphrodite,Aeneas,Venus,both
49,Aeneid,1.387,Aphrodite,Aeneas,Venus,Aeneas,both
50,Aeneid,1.407,Aeneas,Aphrodite,Aeneas,Venus,both
51,Aeneid,1.664,Aphrodite,Eros,Venus,Cupido,both
52,Aeneid,2.594,Aphrodite,Aeneas,Venus,Aeneas,both
53,Aeneid,2.657,Aeneas,Aphrodite,Aeneas,Anchises and Venus and Trojans,both
54,Aeneid,6.194,Aeneas,Aphrodite,Aeneas,two doves and Venus,both
55,Aeneid,8.612,Aphrodite,Aeneas,Venus,Aeneas,both
56,Iliad,15.104,NaN,NaN,Hera,gods,right_only
57,Iliad,15.115,NaN,NaN,Ares,gods,right_only
58,Aeneid,9.83,NaN,NaN,Cybele,Jupiter,right_only
59,Aeneid,9.94,NaN,NaN,Jupiter,Cybele,right_only
60,Aeneid,9.481,NaN,NaN,Euryalus' mother,Euryalus,right_only

#### Precision and Recall

In [22]:
true_pos = sum(results['_merge'] == 'both')

p = true_pos / hits.shape[0]
r = true_pos / bench.shape[0]

print(f'Precision: {p:.2f}')
print(f'Recall:    {r:.2f}')

Precision: 1.00
Recall:    0.92

### Discussion

#### The good news
We got almost all of the benchmark set, with exceptions to be discussed below, and no false positives.

#### The bad news
Let's look a little more closely at the speeches we missed:

In [23]:
missed = results[results['_merge'] == 'right_only'][
                ['work', 'l_first', 'spkr_h', 'addr_h', 'spkr_b', 'addr_b']]
missed

      work l_first spkr_h addr_h            spkr_b    addr_b
56   Iliad  15.104    NaN    NaN              Hera      gods
57   Iliad  15.115    NaN    NaN              Ares      gods
58  Aeneid    9.83    NaN    NaN            Cybele   Jupiter
59  Aeneid    9.94    NaN    NaN           Jupiter    Cybele
60  Aeneid   9.481    NaN    NaN  Euryalus' mother  Euryalus

At a glance, I'd say these fall into three groups:

 1. A conversation in the Iliad between Hera and a group of gods, some of whom were here children
 2. A conversation in the Aeneid between Jupiter and "Cybele," i.e., Rhea.
 3. A conversation in the Aeneid between Euryalus and his anonymous mother.

#### Digging a little deeper

First, let's confirm that all these speeches are in the database results.

In [24]:
missed.merge(df, how='left', on=['work', 'l_first'])[[
    'work', 'l_first',                               # keys: work and locus
    'id', 'spkr', 'addr', 'sp_is_mom', 'ad_is_mom',  # cols from df
    'spkr_b', 'addr_b'                               # cols from bench
    
]]

,work,l_first,id,spkr,addr,sp_is_mom,ad_is_mom,spkr_b,addr_b
0,Iliad,15.104,NaN,NaN,NaN,NaN,NaN,Hera,gods
1,Iliad,15.115,NaN,NaN,NaN,NaN,NaN,Ares,gods
2,Aeneid,9.83,1737.0,Cybele,Zeus,False,False,Cybele,Jupiter
3,Aeneid,9.94,1738.0,Zeus,Cybele,False,False,Jupiter,Cybele
4,Aeneid,9.481,NaN,NaN,NaN,NaN,NaN,Euryalus' mother,Euryalus

The speech between Euyalus and his mom is missing from the database. That's because as of this writing we don't have a systematic way of including anonymous characters like her--folks described only by a family relation or an occupation. Because the character doesn't fit our current data model, she gets omitted, and this speech fails to be added to the database.

The conversation between Hera and the gods is there in the database, but the speaker-addressee pairs are not registering as mother-child relationships. In this case, it's because "gods" isn't being parsed as including all the individual gods, but rather a corporate entity that doesn't have "mother" or "child" as properties. This highlights another issue that needs to be resolved in our data model.

Finally, the conversation between Jupiter and his mom is also in the database, and each of these characters is matched with a WikiData entity, but we're not getting the right answer about their kinship relation because WikiData has distinct entities for the Greek goddess Rhea and the Phrygian goddess Cybele. We can fix this by pointing the character's WikiData ID to the Greek goddess instead (as we did for the Roman deities), but maybe we should think about the larger problem of poetic ambiguity/metonymy/syncretism.

### Takeaways

 - WikiData gave us a lot for free -- all of the individual mother-child relationships were in there when we knew where to look.
 
 - There is still some important work to be done refining our underlying data model.
 
 - If we want to rely on linked open data for high-stakes work, we need resources that are sensitive to the details we care about. We hope that MANTO, because it's specific to Classical myth and hand-curated by domain experts, can help us with problems like when to treat Cybele and Rhea as independent entities and when to consider them identical.