# Records as tabular data

Sometimes it's helpful to thing of speeches, characters, or conversations as spreadsheet tables rather than as objects. A really useful tool for converting data back and forth between DICES object classes and tabular formats is [Pandas](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html).

In [1]:
from dicesapi import DicesAPI
import pandas as pd

# create a connection to DICES
api = DicesAPI(logfile='dices.log')

Pandas provides the DataFrame class: this is a really convenient container for tabular data.

### Example

#### Download some speeches

In [2]:
speeches = api.getSpeeches(spkr_name='Achilles')
print('Got', len(speeches), 'speeches')

Got 111 speeches

#### Convert to a DataFrame

The basic move for building a data frame is to create a list of records ('dictionaries' in Python) where each record is made up of key-value pairs. The key is the column heading for this value. The pattern looks like this:

In [3]:
table = pd.DataFrame(dict(
    speech_id = s.id,
    author = s.author.name,
    work = s.work.title,
    language = s.lang,
    first_line = s.l_fi,
    last_line = s.l_la,
    speakers = s.getSpkrString(),
    addressees = s.getAddrString(),
    type = s.type,
) for s in speeches)

The first and last lines in this block set up the data frame as a list of records, one per speech. The lines in the middle define the fields and values for each record. The column names are on the left sides of the equals signs, and the values for a given speech are on the right. Each time through the loop, `s` will be a different speech. 

Let's see the result:

In [4]:
display(table)

,speech_id,author,work,language,first_line,last_line,speakers,addressees,type
0,4,Homer,Iliad,greek,1.59,1.67,Achilles,Agamemnon,G
1,6,Homer,Iliad,greek,1.85,1.91,Achilles,Calchas,G
2,9,Homer,Iliad,greek,1.122,1.129,Achilles,Agamemnon,G
3,11,Homer,Iliad,greek,1.149,1.171,Achilles,Agamemnon,G
4,13,Homer,Iliad,greek,1.202,1.205,Achilles,Athena,D
...,...,...,...,...,...,...,...,...,...
106,3297,Statius,Achilleid,latin,1.657,1.660,Achilles,Deidamia,D
107,3306,Statius,Achilleid,latin,1.892,1.910,Achilles,Lycomedes,M
108,3308,Statius,Achilleid,latin,2.17,2.19,Achilles,Thetis,M
109,3310,Statius,Achilleid,latin,2.43,2.48,Achilles,Odysseus,D
110,3313,Statius,Achilleid,latin,2.96,2.167,Achilles,Diomedes,D

By default, Pandas only shows the first and last rows of the table. This is helpful if it's really large. If you want to see the whole thing at once, you can do this:

In [5]:
with pd.option_context('display.max_rows', None,):
    display(table)

,speech_id,author,work,language,first_line,last_line,speakers,addressees,type
0,4,Homer,Iliad,greek,1.59,1.67,Achilles,Agamemnon,G
1,6,Homer,Iliad,greek,1.85,1.91,Achilles,Calchas,G
2,9,Homer,Iliad,greek,1.122,1.129,Achilles,Agamemnon,G
3,11,Homer,Iliad,greek,1.149,1.171,Achilles,Agamemnon,G
4,13,Homer,Iliad,greek,1.202,1.205,Achilles,Athena,D
5,15,Homer,Iliad,greek,1.216,1.218,Achilles,Athena,D
6,16,Homer,Iliad,greek,1.225,1.244,Achilles,Agamemnon,G
7,19,Homer,Iliad,greek,1.293,1.303,Achilles,Agamemnon,G
8,21,Homer,Iliad,greek,1.334,1.344,Achilles,"Eurybates, Patroclus, Talthybius",M
9,22,Homer,Iliad,greek,1.352,1.356,Achilles,Thetis,D
10,24,Homer,Iliad,greek,1.365,1.412,Achilles,Thetis,D
11,238,Homer,Iliad,greek,9.197,9.198,Achilles,"Aias (son of Telamon), Odysseus, Phoinix",M
12,239,Homer,Iliad,greek,9.202,9.204,Achilles,Patroclus,M
13,242,Homer,Iliad,greek,9.308,9.429,Achilles,Odysseus,G
14,244,Homer,Iliad,greek,9.607,9.619,Achilles,Phoinix,G
15,246,Homer,Iliad,greek,9.644,9.655,Achilles,Aias (son of Telamon),G
16,312,Homer,Iliad,greek,11.608,11.615,Achilles,Patroclus,D
17,420,Homer,Iliad,greek,16.7,16.19,Achilles,Patroclus,D
18,422,Homer,Iliad,greek,16.49,16.100,Achilles,Patroclus,D
19,423,Homer,Iliad,greek,16.126,16.129,Achilles,Patroclus,M
20,424,Homer,Iliad,greek,16.200,16.209,Achilles,Myrmidons,M
21,426,Homer,Iliad,greek,16.233,16.248,Achilles,Zeus,M
22,443,Homer,Iliad,greek,16.839,16.841,Achilles,Patroclus,M
23,480,Homer,Iliad,greek,18.6,18.14,Achilles,Achilles,S
24,484,Homer,Iliad,greek,18.79,18.93,Achilles,Thetis,D
25,486,Homer,Iliad,greek,18.98,18.126,Achilles,Thetis,D
26,490,Homer,Iliad,greek,18.182,18.182,Achilles,Iris,D
27,492,Homer,Iliad,greek,18.188,18.195,Achilles,Iris,D
28,496,Homer,Iliad,greek,18.324,18.342,Achilles,"Achilles, Patroclus",S
29,506,Homer,Iliad,greek,19.21,19.27,Achilles,Thetis,D
30,508,Homer,Iliad,greek,19.56,19.73,Achilles,Agamemnon,G
31,513,Homer,Iliad,greek,19.146,19.153,Achilles,Agamemnon,G
32,516,Homer,Iliad,greek,19.199,19.214,Achilles,Agamemnon,G
33,519,Homer,Iliad,greek,19.270,19.275,Achilles,Zeus,M
34,521,Homer,Iliad,greek,19.305,19.308,Achilles,Greeks,M
35,522,Homer,Iliad,greek,19.315,19.337,Achilles,Patroclus,S
36,524,Homer,Iliad,greek,19.400,19.403,Achilles,horses,D
37,526,Homer,Iliad,greek,19.420,19.423,Achilles,horses,D
38,534,Homer,Iliad,greek,20.178,20.198,Achilles,Aeneas,D
39,539,Homer,Iliad,greek,20.344,20.352,Achilles,Achilles,S
40,540,Homer,Iliad,greek,20.354,20.363,Achilles,Greeks,M
41,543,Homer,Iliad,greek,20.389,20.392,Achilles,Iphition,M
42,544,Homer,Iliad,greek,20.425,20.427,Achilles,Achilles,S
43,545,Homer,Iliad,greek,20.429,20.429,Achilles,Hector,D
44,547,Homer,Iliad,greek,20.449,20.454,Achilles,Hector,D
45,548,Homer,Iliad,greek,21.54,21.63,Achilles,Lycaon,D
46,550,Homer,Iliad,greek,21.99,21.113,Achilles,Lycaon,D
47,551,Homer,Iliad,greek,21.122,21.135,Achilles,Lycaon,D
48,552,Homer,Iliad,greek,21.150,21.151,Achilles,Asteropaeus,D
49,554,Homer,Iliad,greek,21.184,21.199,Achilles,Asteropaeus,D
50,556,Homer,Iliad,greek,21.223,21.226,Achilles,Scamander,D
51,558,Homer,Iliad,greek,21.273,21.283,Achilles,Zeus,D
52,580,Homer,Iliad,greek,22.15,22.20,Achilles,Apollo,D
53,593,Homer,Iliad,greek,22.261,22.272,Achilles,Hector,D
54,596,Homer,Iliad,greek,22.331,22.336,Achilles,Hector,D
55,598,Homer,Iliad,greek,22.345,22.354,Achilles,Hector,D
56,600,Homer,Iliad,greek,22.365,22.366,Achilles,Hector,D
57,602,Homer,Iliad,greek,22.378,22.394,Achilles,Greeks,M
58,608,Homer,Iliad,greek,23.6,23.11,Achilles,Myrmidons,M
59,609,Homer,Iliad,greek,23.19,23.23,Achilles,Patroclus,S
60,610,Homer,Iliad,greek,23.43,23.53,Achilles,Agamemnon,M
61,612,Homer,Iliad,greek,23.94,23.98,Achilles,Patroclus,D
62,613,Homer,Iliad,greek,23.103,23.107,Achilles,Achilles,S
63,614,Homer,Iliad,greek,23.144,23.151,Achilles,Spercheius,S
64,615,Homer,Iliad,greek,23.156,23.160,Achilles,Agamemnon,M
65,616,Homer,Iliad,greek,23.179,23.183,Achilles,Patroclus,S
66,618,Homer,Iliad,greek,23.236,23.248,Achilles,"Agamemnon, leaders of the Greeks (Greek soldiers)",M
67,619,Homer,Iliad,greek,23.272,23.286,Achilles,"Agamemnon, leaders of the Greeks (Greek soldiers)",M
68,628,Homer,Iliad,greek,23.492,23.498,Achilles,"Aias (son of Oileus), Idomeneus",G
69,629,Homer,Iliad,greek,23.536,23.538,Achilles,Greeks,G
70,631,Homer,Iliad,greek,23.558,23.562,Achilles,Antilochus,G
71,636,Homer,Iliad,greek,23.618,23.623,Achilles,Nestor,G
72,638,Homer,Iliad,greek,23.658,23.663,Achilles,Greeks,G
73,640,Homer,Iliad,greek,23.707,23.707,Achilles,Greeks,M
74,642,Homer,Iliad,greek,23.735,23.737,Achilles,"Aias (son of Telamon), Odysseus",M
75,643,Homer,Iliad,greek,23.753,23.753,Achilles,Greeks,M
76,647,Homer,Iliad,greek,23.795,23.796,Achilles,Antilochus,G
77,648,Homer,Iliad,greek,23.802,23.810,Achilles,Greeks,M
78,649,Homer,Iliad,greek,23.831,23.835,Achilles,Greeks,M
79,650,Homer,Iliad,greek,23.855,23.858,Achilles,Greeks,M
80,651,Homer,Iliad,greek,23.890,23.894,Achilles,Agamemnon,M
81,659,Homer,Iliad,greek,24.139,24.140,Achilles,Thetis,D
82,683,Homer,Iliad,greek,24.518,24.551,Achilles,Priam,D
83,685,Homer,Iliad,greek,24.560,24.570,Achilles,Priam,D
84,686,Homer,Iliad,greek,24.592,24.595,Achilles,Patroclus,S
85,687,Homer,Iliad,greek,24.599,24.620,Achilles,Priam,D
86,689,Homer,Iliad,greek,24.650,24.658,Achilles,Priam,D
87,691,Homer,Iliad,greek,24.669,24.670,Achilles,Priam,D
88,963,Homer,Odyssey,greek,11.473,11.476,Achilles,Odysseus,D
89,965,Homer,Odyssey,greek,11.488,11.503,Achilles,Odysseus,D
90,1338,Homer,Odyssey,greek,24.24,24.34,Achilles,Agamemnon,G
91,2269,Ovid,Metamorphoses,latin,12.80,12.81,Achilles,Cycnus,D
92,2271,Ovid,Metamorphoses,latin,12.106,12.114,Achilles,Achilles,S
93,2272,Ovid,Metamorphoses,latin,12.120,12.121,Achilles,gods,S
94,2274,Ovid,Metamorphoses,latin,12.177,12.181,Achilles,Nestor,G
95,2303,Ovid,Metamorphoses,latin,13.445,13.448,Achilles,Achaeans,M
96,3676,Quintus,Posthomerica,greek,1.575,1.591,Achilles,Penthesilea,G
97,3677,Quintus,Posthomerica,greek,1.644,1.653,Achilles,Penthesilea,G
98,3680,Quintus,Posthomerica,greek,1.757,1.765,Achilles,Thersites,G
99,3695,Quintus,Posthomerica,greek,2.431,2.451,Achilles,Memnon,D
100,3698,Quintus,Posthomerica,greek,3.46,3.52,Achilles,Apollo,D
101,3700,Quintus,Posthomerica,greek,3.68,3.82,Achilles,Trojans,M
102,3702,Quintus,Posthomerica,greek,3.167,3.169,Achilles,Trojans,M
103,3833,Quintus,Posthomerica,greek,14.185,14.222,Achilles,Neoptolemus,M
104,3294,Statius,Achilleid,latin,1.624,1.639,Achilles,"Achilles, Patroclus, Spercheius",S
105,3295,Statius,Achilleid,latin,1.650,1.656,Achilles,Deidamia,D
106,3297,Statius,Achilleid,latin,1.657,1.660,Achilles,Deidamia,D
107,3306,Statius,Achilleid,latin,1.892,1.910,Achilles,Lycomedes,M
108,3308,Statius,Achilleid,latin,2.17,2.19,Achilles,Thetis,M
109,3310,Statius,Achilleid,latin,2.43,2.48,Achilles,Odysseus,D
110,3313,Statius,Achilleid,latin,2.96,2.167,Achilles,Diomedes,D

## Export CSV

If at this point you want to move your data to Excel, you can save a Pandas DataFrame to CSV format using the `to_csv()` method. (**Note**: if you're running this in Binder or another cloud-based platform, you'll have to download the resulting file afterward.)

In [6]:
table.to_csv('achilles.csv')

## Pivot Tables

If you want to continue working with your data in Python, you'll find that most of the tasks you might do in Excel have straightforward analogues in Pandas.

In particular, aggregating and summarizing data in a Pivot Table is done with the `pivot_table()` method. The most common arguments are:
- `index`: which fields to use for the rows of the new table
- `columns`: which fields to use for the columns of the new table
- `values`: which fields to summarize in the cells of the table
- `aggfunc`: the function used to summarize multiple data. Common choices are `'count'`, `'sum'`, `'mean'`, `'max'`, etc. See [here](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html) for details, or type `help(pd.DataFrame.pivot_table)`


### Example

This produces a table showing how many speeches are of each type. I want one row for each `type`, and then the values should be a count of speeches: I'll count the `speech_id` column here.

In [7]:
table.pivot_table(
    index = 'type',
    values = 'speech_id',
    aggfunc = 'count',
)

      speech_id
type
D            45
G            23
M            30
S            13

## Working with columns and rows

### Subsetting columns by name

To get a new DataFrame using only selected columns, you can use doubled square brackets after the table name.

In [8]:
table[['first_line', 'last_line']]

    first_line last_line
0         1.59      1.67
1         1.85      1.91
2        1.122     1.129
3        1.149     1.171
4        1.202     1.205
..         ...       ...
106      1.657     1.660
107      1.892     1.910
108       2.17      2.19
109       2.43      2.48
110       2.96     2.167

[111 rows x 2 columns]

### Extracting one column as a Series

You can get a single column out of the DataFrame as a list-like, one-dimensional series by putting the name in single square brackets or using a dot after the table name.

We'll see how this form is useful when we subset rows by column values below.

In [9]:
table['type']

0      G
1      G
2      G
3      G
4      D
      ..
106    D
107    M
108    M
109    D
110    D
Name: type, Length: 111, dtype: object

In [10]:
table.addressees

0      Agamemnon
1        Calchas
2      Agamemnon
3      Agamemnon
4         Athena
         ...
106     Deidamia
107    Lycomedes
108       Thetis
109     Odysseus
110     Diomedes
Name: addressees, Length: 111, dtype: object

### Subsetting rows

If you want specific rows, you can put a range of numbers in square brackets:

In [11]:
table[0:10]

,speech_id,author,work,language,first_line,last_line,speakers,addressees,type
0,4,Homer,Iliad,greek,1.59,1.67,Achilles,Agamemnon,G
1,6,Homer,Iliad,greek,1.85,1.91,Achilles,Calchas,G
2,9,Homer,Iliad,greek,1.122,1.129,Achilles,Agamemnon,G
3,11,Homer,Iliad,greek,1.149,1.171,Achilles,Agamemnon,G
4,13,Homer,Iliad,greek,1.202,1.205,Achilles,Athena,D
5,15,Homer,Iliad,greek,1.216,1.218,Achilles,Athena,D
6,16,Homer,Iliad,greek,1.225,1.244,Achilles,Agamemnon,G
7,19,Homer,Iliad,greek,1.293,1.303,Achilles,Agamemnon,G
8,21,Homer,Iliad,greek,1.334,1.344,Achilles,"Eurybates, Patroclus, Talthybius",M
9,22,Homer,Iliad,greek,1.352,1.356,Achilles,Thetis,D

You can also select rows based on the values in certain columns:

In [12]:
table[table.addressees=='Agamemnon']

,speech_id,author,work,language,first_line,last_line,speakers,addressees,type
0,4,Homer,Iliad,greek,1.59,1.67,Achilles,Agamemnon,G
2,9,Homer,Iliad,greek,1.122,1.129,Achilles,Agamemnon,G
3,11,Homer,Iliad,greek,1.149,1.171,Achilles,Agamemnon,G
6,16,Homer,Iliad,greek,1.225,1.244,Achilles,Agamemnon,G
7,19,Homer,Iliad,greek,1.293,1.303,Achilles,Agamemnon,G
30,508,Homer,Iliad,greek,19.56,19.73,Achilles,Agamemnon,G
31,513,Homer,Iliad,greek,19.146,19.153,Achilles,Agamemnon,G
32,516,Homer,Iliad,greek,19.199,19.214,Achilles,Agamemnon,G
60,610,Homer,Iliad,greek,23.43,23.53,Achilles,Agamemnon,M
64,615,Homer,Iliad,greek,23.156,23.160,Achilles,Agamemnon,M
80,651,Homer,Iliad,greek,23.890,23.894,Achilles,Agamemnon,M
90,1338,Homer,Odyssey,greek,24.24,24.34,Achilles,Agamemnon,G

### Creating new columns

You can add columns to the table by assigning values to them. Here, we create a new column with the book number for each speech by performing a operation on one of the other columns. We split the value of `first_line` on the `'.'` character, and then take only the first element of the result.

In [13]:
table['book'] = [l.split('.')[0] for l in table.first_line]

In [14]:
table

,speech_id,author,work,language,first_line,last_line,speakers,addressees,type,book
0,4,Homer,Iliad,greek,1.59,1.67,Achilles,Agamemnon,G,1
1,6,Homer,Iliad,greek,1.85,1.91,Achilles,Calchas,G,1
2,9,Homer,Iliad,greek,1.122,1.129,Achilles,Agamemnon,G,1
3,11,Homer,Iliad,greek,1.149,1.171,Achilles,Agamemnon,G,1
4,13,Homer,Iliad,greek,1.202,1.205,Achilles,Athena,D,1
...,...,...,...,...,...,...,...,...,...,...
106,3297,Statius,Achilleid,latin,1.657,1.660,Achilles,Deidamia,D,1
107,3306,Statius,Achilleid,latin,1.892,1.910,Achilles,Lycomedes,M,1
108,3308,Statius,Achilleid,latin,2.17,2.19,Achilles,Thetis,M,2
109,3310,Statius,Achilleid,latin,2.43,2.48,Achilles,Odysseus,D,2
110,3313,Statius,Achilleid,latin,2.96,2.167,Achilles,Diomedes,D,2

### Putting it together

Let's count Achilles' speeches in the Iliad by book number, and make a graph:

In [21]:
subset = table[table.work=='Iliad']

subset.pivot_table(
    index = 'book',
    values = 'speech_id',
    aggfunc = 'count',
    sort = False,
)

      speech_id
book
1            11
9             5
11            1
16            6
18            6
19            9
20            7
21            7
22            6
23           23
24            7